.ad__modal#videoComercial
    .ad__modal-container
        .ad__video-modal-content
            a.close(href="#videoComercial")
                span(aria-hidden="true") &times;
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(src="", id="video", allowscriptaccess="always")