.ad__cookies
    .ad__cookies-container
        h2 Política sobre cookies
        .ad__cookies-content
            | La configuración de cookies de este sitio está definida como  
            | “permitir todos los cookies” para proporcionarle una mejor experiencia.  
            | Si quiere seguir sin alterar estas configuraciones, o usted está de acuerdo 
            | con ellas, o si usted desea cambiar, consulte la sección de Política 
            | sobre Cookies en Términos Legales en la parte inferior de la página.
        .ad__cookies-button
            a(href="#") OK