.ad__modal#presentacionAdulto
    .ad__modal-container.ad__modal-adulto
        .ad__modal-presentacion-carrusel
            .ad__modal-close
                a(href="#presentacionAdulto", data-show-presentacion="#ad__presentacion-adulto")
                    img(src="app/assets/img/close-modal.png", alt="Cerrar", title="Cerrar")
            .carousel.slide.carousel-fade#carrusel-adulto(data-ride="carousel", data-interval="false")
                .carousel-inner
                    .carousel-item.ad__carrusel-adult-slide1.active
                        .ad__carrusel-slide
                            h2 INDICACIÓN TERAPÉUTICA:
                            .ad__carrusel-indicaciones
                                ul
                                    li Auxiliar en la prevención y el tratamiento  de la gripe
                                    li También está indicado en el tratamiento de las deficiencias vitamínicas A, C y D
                                    li Refuerza tus defensas
                                    li Fortalece el sistema inmune
                                h4 ¿CÓMO TOMARLO?
                                .ad__carrusel-indicaciones-ribbon-amarillo
                                    span Aderogyl
                                        sup &reg; 
                                .ad__carrusel-indicaciones-content
                                    .ad__carrusel-indicaciones-left
                                        img(src="app/assets/img/ampolleta-amarilla.png")
                                        img(src="app/assets/img/ampolleta-amarilla.png")
                                        img(src="app/assets/img/ampolleta-amarilla.png")
                                        img(src="app/assets/img/ampolleta-amarilla.png")
                                        img(src="app/assets/img/ampolleta-amarilla.png")
                                    .ad__carrusel-indicaciones-right
                                        span.indicaciones-title Mayores de 12 años:
                                        span.indicaciones-ampolletasText 5 ampolletas
                                        span.indicaciones-ampolletasTime 1 por semana
                                        span.indicaciones-tratamiento Tratamiento individual.
                                        span.indicaciones-ampolletasTime2 Tómalo en el desayuno.
                    .carousel-item.ad__carrusel-adulto-slide2
                        .ad__carrusel-slide
                            h2 FÓRMULA
                                small ADEROGYL
                                    sup &reg;
                            .ad__carrusel-ingredientes
                                .ad__carrusel-ingredientes-left
                                    ul
                                        li Retinol
                                        li Ácido ascórbico
                                        li Ergocalciferol
                                .ad__carrusel-ingredientes-right
                                    p Caja con 1 ampolleta de 3 mL
                                    p Caja con 5 ampolletas de 3 mL
                                    p Vitaminas A, D y C
                            .ad__carrusel-contenido
                                h3 CADA AMPOLLETA CONTIENE:
                                ul
                                    li 
                                        span Retinol
                                        span.float-right 3.30mg
                                        br
                                        | equivalentes a 6000 UI de palmitato de vitamina A
                                    li
                                        span Ergocalciferol
                                        span.float-right 0.03 mg
                                        br
                                        | equivalente a 1,200 UI de vitamina D2
                                    li 
                                        span Ascorbato de sodio equivalente a
                                        span.float-right 491.09 mg
                                        br
                                        | de ácido ascórbico (Vitamina C)*
                                    li 
                                        span Ácido ascórbico (Vitamina C)*
                                        span.float-right 8.56 mgxc  
                                    li 
                                        span Vehículo cbp
                                        span.float-right 3 mL
                                p.ad__carrusel-contenido-highlighted *Total de ácido ascórbico (Vitamina C) 499.65 mg
                a.carousel-control-prev(href="#carrusel-adulto", role="button", data-slide="prev")
                    span
                        img(src="app/assets/img/left-modal.png")
                    span.sr-only Anterior
                a.carousel-control-next(href="#carrusel-adulto", role="button", data-slide="next")
                    span
                        img(src="app/assets/img/right-modal.png")
                    span.sr-only Siguiente
        .ad__presentacion.ad__presentacion-adulto
            .ad__presentacion-via.ad-caption Vía de administrción: Oral
            .ad__presentacion-img
                img(src="app/assets/img/aderogyl-adulto.png")
            .ad__presentacion-copy.ad-caption Aderogyl
                sup &reg; 
                | Solución.
                br
                | registro sanitario no.: 38878 SSA VI