.ad__modal#presentacionInfantil
    .ad__modal-container.ad__modal-infantil
        .ad__presentacion.ad__presentacion-infantil
            .ad__presentacion-via.ad-caption Vía de administrción: Oral
            .ad__presentacion-img
                img(src="app/assets/img/aderogyl-infantil.png")
            .ad__presentacion-copy.ad-caption Aderogyl
                sup &reg; 
                | C Solución.
                br
                | registro sanitario no.: 52096 SSA VI
        .ad__modal-presentacion-carrusel
            .ad__modal-close
                a(href="#presentacionInfantil", data-show-presentacion="#ad__presentacion-infantil")
                    img(src="app/assets/img/close-modal.png", alt="Cerrar", title="Cerrar")
            .carousel.slide.carousel-fade#carousel-infantil(data-ride="carousel", data-interval="false")
                .carousel-inner
                    .carousel-item.ad__carrusel-infantil-slide1.active
                        h2 INDICACIÓN TERAPÉUTICA:
                        .ad__carrusel-indicaciones
                            ul
                                li Auxiliar en la prevención y el tratamiento  de la gripe
                                li También está indicado en el tratamiento de las deficiencias vitamínicas A, C y D
                                li Ayuda a prevenir alteraciones de la vista, de la cicatrización, absorción y fijación del calcio en los huesos
                            h4 ¿CÓMO TOMARLO?
                            .ad__carrusel-indicaciones-ribbon-rojo
                                span Aderogyl
                                    sup &reg; 
                                    | C
                                img(src="app/assets/img/infantil.png", alt="infantil")
                            .ad__carrusel-indicaciones-content
                                .ad__carrusel-indicaciones-gotero
                                    img(src="app/assets/img/gotero.png", alt="gotero")
                                .ad__carrusel-indicaciones-left
                                    span.indicaciones-title De 0 a 1 año:
                                    .indicaciones-gotas
                                        img(src="app/assets/img/gota.svg")
                                        img(src="app/assets/img/gota.svg")
                                        img(src="app/assets/img/gota.svg")
                                        img(src="app/assets/img/gota.svg")
                                        img(src="app/assets/img/gota.svg")
                                    span.indicaciones-gotasText 5 gotas diarias
                                    span.indicaciones-gotasTime antes del desayuno.
                                .ad__carrusel-indicaciones-right
                                    span.indicaciones-title De 1 a 12 años
                                    .indicaciones-gotas
                                        img(src="app/assets/img/gota.svg")
                                        img(src="app/assets/img/gota.svg")
                                        img(src="app/assets/img/gota.svg")
                                        img(src="app/assets/img/gota.svg")
                                        img(src="app/assets/img/gota.svg")
                                        img(src="app/assets/img/gota.svg")
                                        img(src="app/assets/img/gota.svg")
                                        img(src="app/assets/img/gota.svg")
                                        img(src="app/assets/img/gota.svg")
                                        img(src="app/assets/img/gota.svg")
                                    span.indicaciones-gotasText 10 gotas diarias
                                    span.indicaciones-gotasTime antes del desayuno.
                            .ad__carrusel-indicaciones-footer
                                p Usa el tratamiento durante la época que desees la protección.
                    .carousel-item.ad__carrusel-infantil-slide2
                        h2 FÓRMULA
                            small ADEROGYL
                                sup &reg;
                                | C
                        .ad__carrusel-ingredientes
                            .ad__carrusel-ingredientes-left
                                ul
                                    li Retinol
                                    li Ácido ascórbico
                                    li Ergocalciferol
                            .ad__carrusel-ingredientes-right
                                p Caja con frasco de 30 mL con gotero adjunto.
                                p Vitaminas A, D y C
                        .ad__carrusel-contenido
                            h3 CADA ML CONTIENE:
                            ul
                                li Palmitato de retinol equivalente a:                 
                                    br
                                    span Vitamina A
                                    span.float-right 5000 UI
                                li Ergocalciferol equivalente a: 
                                    br
                                    span Vitamina D2
                                    span.float-right 400 UI
                                li Ácido ascórbico equivalente a:
                                    br
                                    span Vitamina C
                                    span.float-right 60 mg
                                li 
                                    span Vehículo cbp
                                    span.float-right 1 mL
                            p.ad__carrusel-contenido-highlighted Cada mL equivale a 20 gotas
                a.carousel-control-prev(href="#carousel-infantil", role="button", data-slide="prev")
                    span
                        img(src="app/assets/img/left-modal.png")
                    span.sr-only Anterior
                a.carousel-control-next(href="#carousel-infantil", role="button", data-slide="next")
                    span
                        img(src="app/assets/img/right-modal.png")
                    span.sr-only Siguiente