@require globalStyl

.ad
    &__modal
        visibility hidden
        opacity 0
        display none
        position fixed
        background $color-Blue-Smalt-transparent
        color white
        width 100%
        height 100%
        justify-content center
        align-items center
        transition 1s
        &-container
            width 80%
            flex-flow row wrap
            +$responsive(desktop1280)
                width 75%
            +$responsive(desktop1600)
                width 70%
            +$responsive(desktop_extended)
                width 60%
            &-legales
                height 90%
                position relative
                font-family $font-primary
                text-shadow none 
                font-size 1.4em
                line-height 1.4em
    &__legales
        &-title
            display flex
            align-items center
            width 100%
            h1
                width calc(100% - 40px)
                padding 15px
                text-align center
                $text-shadow()
        &-close
            width 40px
            a
                transition .3s
                &:hover
                    opacity .5
        &-content
            overflow auto
            height 80%
            padding 5px 15px
            &::-webkit-scrollbar
                width 10px
            &::-webkit-scrollbar-track
                background rgba(255,255,255,0.2)
                border-radius 5px
            &::-webkit-scrollbar-thumb
                background rgba(255,255,255,0.8)
                border-radius 3px
                transition .3s
            &::-webkit-scrollbar-thumb:hover
                background white
            h2
                font-size 1.5rem
                margin 10px 0
            h3
                font-size 1.3rem
                margin 10px 0
.carousel-fade .carousel-inner .item
    transition .3s
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right
    transition .3s
    visibility hidden
    opacity 0
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right
    transition .3s
    visibility visible
    opacity 1
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right
    transition .3s
.carousel-fade .carousel-control
    z-index 2