@require globalStyl
body, html
    height 100%
    font-family $font-primary
    font-size 18px

body
    font-feature-settings "ss08"
    background-image url(../img/fondo3.jpg)
    background-attachment fixed
    background-position bottom center
    background-repeat no-repeat
    background-size cover
.ad-brillo
    background-image url(../img/fondo1.jpg)

.container
    max-width $max-width
    min-width $min-width

img 
    max-width 100%
    max-height 100% 
    width auto
    height auto

.ad-dodge-color
    //mix-blend-mode color-dodge
    position absolute
    width 70%
    height 80%
    top 20%
    left 25%
    z-index 1
    animation fadeIn 3s infinite ease-out

.ad-caption
    font-size 1em
    color white
    text-transform uppercase

.ad-button
    background $color-Blue-PrussianBlue
    border-radius .7em
    padding .2em
    text-transform uppercase
    $text-shadow()
    font-size 1.3em
    text-align center
    +$responsive(desktop1280)
        font-size 1.5em
    +$responsive(desktop1600 desktop_extended)
        font-size 1.6em
    a
        color white
        transition .3s
        &:hover
            text-decoration none
            opacity .5
