@require globalStyl

body, html
    height 100%

.container
    max-width $max-width
    min-width $min-width
body.ad
    padding-top 34px
    font-family $font-primary
img 
    max-width 100%
    height auto
