@require globalView

.ad__faqs
    width 75%
    padding 15% 30px 0 0
    margin-left 25%
    display flex
    align-items center
    position relative
    z-index 2
    +$responsive(tablet768)
        +$responsive(portrait)
            padding 0 0 130px 0
            margin 0 auto
            width 90%
    +$responsive(mobile_not_tablet)
        $parallax()
        margin 0
        height auto
        padding-top 130px
        padding-bottom 30px
        +$responsive(landscape)
            font-size .8em
        +$responsive(portrait)
            font-size .7em
    &-listado
        z-index 1
        +$responsive(desktop_all)
            margin-right 5%
        +$responsive(desktop1280 desktop1600 desktop_extended)
            margin-right 15%
        sup 
            font-size .6em
            top -.8em
        ul, li
            list-style-type none
            margin 0
            padding 0
        li
            .bullet-faq
                background-image url(../img/arrow.svg)
                background-repeat no-repeat
                background-size contain
                width .7em
                height .7em
                cursor pointer
                transition transform .5s
                display inline-block
                margin-right .3em
                margin-top .4em
            &:hover
                .bullet-faq
                    background-image url(../img/arrow-hover.svg)
                    transform rotate(-45deg)
            .ad__faqs-title 
                padding 0 .6em
                color white
                font-size 1.8em
                $text-shadow()
                transition color 1s
                text-transform uppercase
                cursor pointer
                display flex
                +$responsive(desktop1600 desktop_extended)
                    font-size 2.3em
                &:hover
                    text-decoration none
                    color $color-Green-Citrus
        .ad-dodge-color
            width 60%
            left 20%
            top 0%
            z-index -1
            height 0
        #pregunta3
            .ad-dodge-color
                left inherit
                right 0
        #pregunta6
            .ad-dodge-color
                left inherit
                right 10%
    &-modales
        position fixed
        top 0
        left 0
        z-index 5
        .ad__modal
            background $color-Blue-Smalt
    &-acordeon
        &-content
            display flex
            font-size 1em
            line-height 1.3em
            font-family $font-alternative-condensed
            font-weight 300
            color white
            $text-shadow()
            position relative
            +$responsive(desktop1280 desktop1600)
                font-size 1.3em
            +$responsive(desktop_extended)
                font-size 1.5em
            sup 
                font-size .6em
                top -.8em
        &-container
            padding 30px 0
    &1-left,
    &4-left,
    &5-left
        width 38%
        padding 0 20px
        +$responsive(mobile_all)
            padding 0
        p
            margin 0 1.7em
            +$responsive(mobile_all)
                margin 5px 0
    &1-center,
    &4-center,
    &5-center
        width 24%
        padding 10px
        position relative
        +$responsive(mobile_all)
            padding 0
    &5-center
    &1-right,
    &4-right,
    &5-right
        width 38%
        padding 10px
        +$responsive(mobile_all)
            padding 0
        p
            margin 0.3em 1.5em
            +$responsive(mobile_all)
                margin 5px
    &2-left
        width 40%
        padding-right 15px
        +$responsive(mobile_all)
            padding 0
    &2-right
        width 60%
        text-align center
        img 
            width 33%
            +$responsive(mobile_not_tablet)
                width 50%
                +$responsive(landscape)
                    width 33%
    &3-left
        width 45%
        padding-right 5%
        align-self center
        +$responsive(mobile_all)
            width 50%
            padding 0
            +$responsive(landscape)
                margin-left 10%
    &3-right
        width 40%
        position relative
        text-align center
        +$responsive(mobile_all)
            width 45%
            +$responsive(landscape)
                width 30%
        +$responsive(desktop1280 desktop1600 desktop_extended)
            width 55%
    &4-left,
    &4-right
        width 36%
    &4-left
        +$responsive(mobile_all)
            p
                margin left 0
                margin-right 10px
    &4-center
        width 28%
        +$responsive(mobile_all)
            padding 0
    &4-right
        +$responsive(mobile_all)
            padding 0
            p
                margin-right 0
                margin-left 10px
    &5-left,
    &5-right
        width 35%
        +$responsive(mobile_all)
            padding 0
    &5-left
        +$responsive(mobile_all)
            p
                margin-left 0
    &5-center
        width 40%
        margin-left -7%
        +$responsive(mobile_all)
            margin-left -5%
            padding 0
    &5-right
        +$responsive(mobile_all)
            p
                margin-left 10px
                margin-right 0
    &6-left
        width 30%
        align-self center
        +$responsive(mobile_all)
            width 60%
            margin-right -15%
    &6-right
        text-align center
        +$responsive(mobile_all)
            text-align right 
        img
            width 75%
#pregunta4
    .bullet-faq
        width 1em
        height 1em
.ad__collapse
    overflow hidden
    transition max-height .2s ease-out
    max-height 0
&.acordeonActivo
    .ad__faqs-title
        color $color-Green-Citrus !important
    .bullet-faq
        background-image url(../img/arrow-hover.svg)
        transform rotate(-45deg)
    .ad__collapse
        max-height 500px
        transition max-height .2s ease-in
    .ad-dodge-color
        height 130%
        transition height .3s