section.ad__faqs#preguntas-frecuentes
    .ad_faqs-listado
        ul
            li
                a(href="#") ¿Cada cuánto debo tomar ADerogyl&reg;?
            li
                a(href="#") ¿Cómo debo abrir la ampolleta?
            li
                a(href="#") ¿Con qué debo mezclar ADerogyl&reg; SOLUCIÓN?
            li
                a(href="#") ¿Puedo consumir ADerogyl&reg; solución durante el embarazo?
            li
                a(href="#") ¿A partir de qué edad puedo tomar ADerogyl&reg;?
            li
                a(href="#") ¿Dónde puedo comprar ADerogyl&reg;?