section.ad__faqs#preguntas-frecuentes
    .ad__faqs-listado#accordion
        ul
            li
                span.ad__faqs-title(data-target="#pregunta1") 
                    em.bullet-faq
                    span ¿Cada cuánto debo tomar ADerogyl
                        sup &reg; 
                        | ?
                include preguntas/pregunta1.jade
            li
                span.ad__faqs-title(data-target="#pregunta2") 
                    em.bullet-faq
                    span ¿Cómo debo abrir la ampolleta?
                include preguntas/pregunta2.jade
            li
                span.ad__faqs-title(data-target="#pregunta3") 
                    em.bullet-faq
                    span ¿Con qué debo mezclar ADerogyl
                        sup &reg; 
                        | SOLUCIÓN?
                include preguntas/pregunta3.jade
            li
                span.ad__faqs-title(data-target="#pregunta4") 
                    em.bullet-faq
                    span ¿Puedo consumir ADerogyl
                        sup &reg; 
                        | solución durante el embarazo?
                include preguntas/pregunta4.jade
            li
                span.ad__faqs-title(data-target="#pregunta5") 
                    em.bullet-faq
                    span ¿A partir de qué edad puedo tomar ADerogyl
                        sup &reg; 
                        | ?
                include preguntas/pregunta5.jade
            li
                span.ad__faqs-title(data-target="#pregunta6") 
                    em.bullet-faq
                    span ¿Dónde puedo comprar ADerogyl
                        sup &reg; 
                        | ?
                include preguntas/pregunta6.jade