@require globalView

/*+$responsive(desktop_extended)
    /// Header
    +$ie11Selector('.ad__header-menu-principal li a')
        min-height 65px
    /// Sección Que Es
    +$ie11Selector('.ad__queEs-mainImg')
        margin-top 5%
        margin-left 15%
    /// Sección Presentación
    +$ie11Selector('.ad__modal-infantil .ad__presentacion')
        margin-top -6%
    +$ie11Selector('.ad__modal-adulto .ad__presentacion')
        margin-top 4%
    +$ie11Selector('.ad__infantil .ad__modal-presentacion-carrusel')
        font-size 1.5em
        margin-top -7%
    +$ie11Selector('.ad__infantil .ad__modal-close')
        top -9%
        right -15%
    +$ie11Selector('.ad__infantil .ad__modal-container .carousel-item')
        height 650px
    +$ie11Selector('.ad__infantil .ad__modal-container .carousel-item.ad__carrusel-infantil-slide2')
        font-size 1.3em
        padding 30px*/