@require globalView

+$ieSelector('.ad__header-menu-principal li a')
    height 60px
+$ieSelector('.ad__faqs-listado li .bullet-faq')
    margin-top 10px
+$ieSelector('.ad__faqs-acordeon-content img')
    max-height 480px
+$ieSelector('.ad__faqs2-right img')
    width 30%
+$responsive(mobile_all)
    +$ieSelector('.ad__header-menu-principal li a')
        height 50px
+$responsive(mobile_not_tablet iphonex)
    +$responsive(landscape)
        +$ieSelector('.ad__header-menu-principal li a')
            height 30px
+$responsive(desktop1280)
    +$ieSelector('.ad__infantil .ad__modal-infantil .ad__modal-presentacion-carrusel')
        margin-top 6%
        margin-left -10%
    +$ieSelector('.ad__adulto .ad__modal-adulto .ad__modal-presentacion-carrusel')
        margin-top 9%
+$responsive(desktop1600)
    +$ieSelector('.ad__header-menu-principal li a')
        height 80px
+$responsive(desktop_extended)
    +$ieSelector('.ad__header-menu-principal li a')
        height 80px