$minMax-media = {
    min_320: "320px",
    max_320: "479px",
    min_480: "480px",
    max_480: "567px",
    min_568: "568px",
    max_568: "767px",
    min_tablet768 : "768px",
    max_tablet768 : "1023px",
    min_desktop1024: "1024px",
    max_desktop1024: "1279px",
    min_desktop1280 : "1280px",
    max_desktop1280: "1599px",
    min_desktop1600: "1600px",
    max_desktop1600: "1899px",
    min_desktop_extended: "1900px"
}

$only-screen = "only screen and (min-width: "
$max-width = ") and (max-width: "
$only-screen-max = " only screen and (max-width: "
$only-screen-min = " only screen and (min-width: "
$media_queries = {
  mobile_all    : $only-screen + $minMax-media[min_480] + $max-width + $minMax-media[max_tablet768] +"), " + $only-screen-max + $minMax-media[min_480] + ")",
  mobile480     : $only-screen + $minMax-media[min_480] + $max-width + $minMax-media[max_480] +"), " + $only-screen-max + $minMax-media[min_480] + ")",
  mobile568     : $only-screen + $minMax-media[min_568] + $max-width + $minMax-media[max_568] +")",
  tablet768     : $only-screen + $minMax-media[min_tablet768] + $max-width + $minMax-media[max_tablet768] +")",
  desktop1024   : $only-screen + $minMax-media[min_desktop1024] + $max-width + $minMax-media[max_desktop1024] +")",
  desktop1280   : $only-screen + $minMax-media[min_desktop1280] + $max-width + $minMax-media[max_desktop1280] +")",
  desktop1600   : $only-screen + $minMax-media[min_desktop1600] + $max-width + $minMax-media[max_desktop1600] +")",
  desktop_extended   : $only-screen + $minMax-media[min_desktop_extended] +")",
  desktop_all   : $only-screen + $minMax-media[min_desktop1024] + $max-width + $minMax-media[min_desktop_extended] +"), " + $only-screen-min + $minMax-media[min_desktop_extended] + ")"
}
$responsive(breakpoints)
    conditions = ()
    for breakpoint in breakpoints
        push(conditions, $media_queries[breakpoint])
    conditions = join(", ", conditions)
    @media conditions
        {block}