$ieSelector(selector)
    @media all and (-ms-high-contrast:none)
     {selector}
        {block}
    *::-ms-backdrop, {selector}
        {block}

$parallax(img)
    background url(img)
    height 100%
    width 100%
    padding 30px
    background-attachment fixed
    background-position center
    background-repeat no-repeat
    background-size cover
    display flex
    align-items center
    position relative

$text-shadow()
    text-shadow 2px 2px 5px rgba(0,0,0,0.7)