$placeholder()
    &::-webkit-input-placeholder
        {block}
    &:-moz-placeholder
        {block}
    &::-moz-placeholder
        {block} 
    &:-ms-input-placeholder
       {block}

$ieSelector(selector)
    @media all and (-ms-high-contrast:none)
     {selector}
        {block}
    *::-ms-backdrop, {selector}
        {block}

$ellipsis()
    white-space nowrap
    overflow hidden
    text-overflow ellipsis

$parallax(img)
    background url(img)
    height 100%
    background-attachment fixed
    background-position center
    background-repeat no-repeat
    background-size cover