$ieSelector(selector)
    @media all and (-ms-high-contrast:none)
     {selector}
        {block}
    *::-ms-backdrop, {selector}
        {block}

$parallax(img)
    //background url(img)
    height 100%
    width 100%
    padding 30px
    //background-attachment fixed
    //background-position center
    //background-repeat no-repeat
    //background-size cover
    display flex
    align-items center
    position relative

$backgroundImg($img, $width, $height)
    width $width
    background-image url($img)
    background-size contain
    background-repeat no-repeat
    height $height
    background-position 0 0

$text-shadow()
    text-shadow 2px 2px 5px rgba(0,0,0,0.7)

$scrollbar($color)
    &::-webkit-scrollbar
        width 10px
    &::-webkit-scrollbar-track
        background alpha($color, 0.2)
        border-radius 5px
    &::-webkit-scrollbar-thumb
        background alpha($color, 0.8)
        border-radius 3px
        transition .3s
    &::-webkit-scrollbar-thumb:hover
        background $color


@keyframes fadeIn
    0%
        opacity .1
    10%
        opacity .5
    20%
        opacity 1
    80%
        opacity 1
    90%
        opacity .5
    100%
        opacity .1
