/// Fuentes

$font-primary = 'Akzidenz Grotesk Condensed Medium', sans-serif
$font-secondary = 'Akzidenz Grotesk Condensed Bold', sans-serif

/// Colores
$color-Brown-Maroon = #4B1601
$color-Brown-Maroon-transparent = rgba(75,22,1,.5)
$color-Orange-Tangerine = #ef7c00
$color-Green-Citrus = #98c301
$color-Blue-Smalt = #004082
$color-Blue-Smalt-transparent = rgba(0,64,130,.9)


/// Anchos
$max-width = 1920px
$min-width = 320px