header.ad__header
    .ad__header-logo-sanofi
        .container
            a(href="#")
                img(src="app/assets/img/sanofi.png")
    .ad__header-left-menu
        .container
            .ad__header-logo.col-12.col-lg-4.col-md-6
                .ad__header-logo-aderogyl
                    img(src="app/assets/img/aderogyl-logo.png")
                .ad__header-logo-c
                    img(src="app/assets/img/c.png")
                .ad__header-logo-infantil
                    img(src="app/assets/img/infantil.png")
        nav.ad__header-menu
            ul.ad__header-menu-principal
                li 
                    a.active(href="#que-es") ¿QUÉ ES?
                li 
                    a(href="#beneficios") BENEFICIOS
                li
                    a(href="#presentaciones") PRESENTACIONES
                li
                    a(href="#preguntas-frecuentes") PREGUNTAS FRECUENTES
            ul.ad__header-menu-redes
                li
                    a(href="#")
                        img(src="app/assets/img/menu/ico_facebook.svg")
                li
                    a(href="#")
                        img(src="app/assets/img/menu/ico_instagram.svg")
                li
                    a(href="#")
                        img(src="app/assets/img/menu/ico_youtube.svg")