header.ad__header
    include ../cookies/cookies.jade
    .ad__header-top-menu
        .ad__header-logo-sanofi
            a(href="#", onclick="salirAderogyl('sanofi', event);")
                img(src="app/assets/img/sanofi.png", alt="SANOFI")
        .ad__header-residentes Este sitio es para residentes de México
        .ad__header-video
            //-a(href="#videoComercial", data-src="https://www.youtube.com/embed/2BKj9GkyTgw")
            a(href="#videoComercial", data-src="http://morfina.digital/Aderogyl-bis/app/video/tvc.mp4")
                span.video-text
                    span.video-ico
                    span Ver Comercial
    .ad__header-left-menu
        button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse", aria-controls="navbar-collapse", aria-expanded="false", aria-label="Navegación")
            span.glyphicon.glyphicon-menu-hamburger
        nav.navbar-collapse.collapse
        .ad__header-logo
            .ad__header-logo-aderogyl
                img(src="app/assets/img/logo-aderogyl.png", alt="ADerogyl")
            .ad__header-logo-infantil
                img(src="app/assets/img/logo-aderogyl-c.png", alt="ADerogyl C")
        nav.ad__header-menu.navbar-collapse.collapse
            ul.ad__header-menu-principal
                li
                    a.active(href="#que-es") 
                        em.boton-menu
                        span ¿QUÉ ES?
                li
                    a(href="#beneficios", data-infantil="true") 
                        em.boton-menu
                        span BENEFICIOS
                li
                    a(href="#presentaciones") 
                        em.boton-menu
                        span PRESENTACIONES
                li
                    a(href="#preguntas-frecuentes") 
                        em.boton-menu
                        span PREGUNTAS FRECUENTES
            ul.ad__header-menu-redes
                li
                    a(href="#", onclick="salirAderogyl('facebook', event);")
                        img(src="app/assets/img/ico_facebook.svg", alt="Facebook")
                //-li
                    a(href="#")
                        img(src="app/assets/img/ico_instagram.svg", alt="Instagram")
                li
                    a(href="#", onclick="salirAderogyl('youtube', event);")
                        img(src="app/assets/img/ico_youtube.svg", alt="YouTube")
.ad__header-modales
    include header/video.jade