header.ad__header
    .ad__header-left-menu
        .container
            .ad__header-logo.col-12.col-lg-4.col-md-6
                .ad__header-logo-aderogyl
                    img(src="app/assets/img/logo-aderogyl.png")
                .ad__header-logo-infantil
                    img(src="app/assets/img/logo-aderogyl-c.png")
            nav.ad__header-menu
                ul.ad__header-menu-principal
                    li 
                        a.active(href="#que-es") 
                            span ¿QUÉ ES?
                    li 
                        a(href="#beneficios", data-infantil="true") 
                            span BENEFICIOS
                    li
                        a(href="#presentaciones") 
                            span PRESENTACIONES
                    li
                        a(href="#preguntas-frecuentes", data-fixed-menu="true") 
                            span PREGUNTAS FRECUENTES
                ul.ad__header-menu-redes
                    li
                        a(href="#")
                            img(src="app/assets/img/ico_facebook.svg")
                    li
                        a(href="#")
                            img(src="app/assets/img/ico_instagram.svg")
                    li
                        a(href="#")
                            img(src="app/assets/img/ico_youtube.svg")