header.ad__header
    .container
        .ad__header-logo-sanofi
            a(href="#")
                img(src="app/assets/img/sanofi.png")
        .ad__header-logo-aderogyl.col-12.col-lg-4.col-md-6
            img(src="app/assets/img/aderogyl-logo.png")
    nav.ad__header-menu
        ul.ad__header-menu-principal
            li 
                a.active(href="#que-es") ¿QUÉ ES?
            li 
                a(href="#beneficios") BENEFICIOS
            li
                a(href="#presentaciones") PRESENTACIONES
            li
                a(href="#preguntas-frecuentes") PREGUNTAS FRECUENTES
        ul.ad__header-menu-redes
            li
                a(href="#")
                    img(src="app/assets/img/menu/ico_facebook.svg")
            li
                a(href="#")
                    img(src="app/assets/img/menu/ico_instagram.svg")
            li
                a(href="#")
                    img(src="app/assets/img/menu/ico_youtube.svg")