@require globalView

.ad__header
    .container
        width 100%
        padding 0
        margin 0
    &-logo
        padding 80px 0 30px 50px
    &-menu
        width 20%
        li, ul
            list-style-type none
            margin 0
            padding 0
        &-principal
            li
                position relative
                a
                    color transparent
                    transition .3s
                    font-size 1.7em
                    display flex
                    +$responsive(desktop1280)
                        font-size 1.8em
                    +$responsive(desktop1600)
                        font-size 2.2em
                    +$responsive(desktop_extended)
                        font-size 2.5em
                    span 
                        display block
                        padding 15px 0 0 0
                        line-height 1.1em
                        width calc(100% - 80px)
                        +$responsive(desktop1600 desktop_extended)
                            padding-top 18px
                    &:before
                        content ''
                        width 25%
                        height 60px
                        background-image url(../img/boton-menu.png)
                        background-repeat no-repeat
                        background-size 70% auto
                        background-position center center
                        transition .3s
                        +$responsive(desktop1600)
                            width 21%
                            height 70px
                        +$responsive(desktop_extended)
                            width 21%
                            height 80px
                    &:hover,
                    &.active
                        color white
                        $text-shadow()
                        text-decoration none
                        &:before
                            background-size 120% auto
                    &.active
                        cursor default
                        &:before
                            background-image url(../img/boton-menu-resplandor.png)
        &-redes
            position fixed
            bottom 20px
            left 10px
            a
                display block
                padding 10px 15px
                transition .3s
                &:hover
                    opacity .5
                img
                    width 30px
                    height 30px
                    display block
    &-left-menu
        position fixed
        width 100%
        top 0
        z-index 1
        &.menuAbsolute
            position absolute
            z-index 2
            .ad__header-menu-redes
                position absolute
                bottom -160px