section.ad__queEs#que-es
    .ad__queEs-mainImg
        .ad__queEs-img
            img.ad__desktop(src="app/assets/img/5-ampolletas-por-persona-1-cada-lunes.png", alt="5 ampolletas por persona 1 cada lunes")
            img.ad__mobile(src="app/assets/img/5-ampolletas-por-persona-1-cada-lunes__vertical.png", alt="5 ampolletas por persona 1 cada lunes")
        //-.ad__queEs-img-caption
            //-include ../../common/aderogyl-registro-sanitario/aderogyl-registro-sanitario.jade
            //-+caption()
        .ad__queEs-beneficios.row.col-12
            .col-6
                img(src="app/assets/img/auxiliar-en-la-prevencion-y-tratamiento-de-la-gripe.png", alt="Auxiliar en la prevención y tratamiento de la gripe")
                //-.ad__queEs-slogan-top
                    span Auxiliar en la prevención
                //-.ad__queEs-slogan-bottom
                    span y tratamiento de la gripe
            .col-6
                img(src="app/assets/img/refuerza-las-defensas-y-fortalece-el-sistema-inmune.png", alt="Refuerza las defensas y fortalece el sistema inmune")
                //-.ad__queEs-slogan-top
                    span Refuerza las defensas
                //-.ad__queEs-slogan-bottom
                    span y fortalece el sistema inmune
    .ad-dodge-color
        img(src="app/assets/img/destellos.png")