@require globalView

.ad__queEs
    $parallax('../img/fondo1.jpg')
    font-size 0.75em
    +$responsive(desktop1600)
        font-size .8em
    +$responsive(desktop1280 desktop_extended)
        font-size 1em
    &-mainImg
        margin 5% 8% 1% 21%
        position relative
        display flex
        justify-content center
        flex-flow row wrap
        align-items flex-end
        +$responsive(desktop1280)
            margin-right 3%
        +$responsive(desktop_extended)
            margin 7% 15% 1% 25%
    &-img
        width 60%
        z-index 2
        &-caption
            width 100%
            margin-bottom 3%
            text-align center
    &-frase
        width 60%
        margin-left -15%
        z-index 1
        display flex
        flex-flow row wrap
        color white
        $text-shadow()
        text-transform uppercase
        +$responsive(desktop1600)
            width 50%
            margin-left -10%
        +$responsive(desktop_extended)
            margin-left -12%
        &1
            $backgroundImg('../img/fondo-azul.png', 100%, 1.75em)
            // 140px
            font-size 4.4em // 80px
            padding-left 0.87em // 70px
            padding-top 0.0625em // 5px
            z-index 2
            font-family $font-secondary
            span 
                transform rotate(-2deg)
                display inline-block
        &2
            $backgroundImg('../img/fondo-rojo.png', 100%, 2em)
            // 150px
            font-size 4.16em // 75px
            margin-top -0.53em // -40px
            z-index 1
            padding 0.13em 0 0 1.22em // 10px 0 0 92px
            span 
                transform rotate(-4deg)
                display inline-block

        &3
            width 100%
            z-index 3
            height 1.875em // 150px
            padding 0.0625em 0 0.25em 1.565em // 5px 0 20px 125px
            font-size 4.4em // 80px
            margin-top -0.625em // -50px
            margin-bottom 0.5em // 40px
            display flex
            transform rotate(-4deg)
            .frase3
                &-item1
                    color $color-Yellow-GoldenYellow
                    margin-right 0.1em // 10px
                    font-family $font-secondary 
                    font-size 1.25em // 100px
                    line-height 1.1em // 110px
                &-item2
                    margin 0 0.0625em // 0 5px
                &-item3
                    color $color-Yellow-GoldenYellow
                    margin-left 0.125em // 10px
                    font-family $font-secondary 
                    line-height 1.4em // 112px
    &-slogans
        display flex
        align-items flex-start
        font-family $font-alternative-condensed
        +$responsive(desktop1280)
            width 90%
            margin-right 10%
        +$responsive(desktop1600)
            width 80%
            margin-right 20%
        +$responsive(desktop_extended)
            width 70%
            margin-right 30%
    &-slogan
        width 50%
        color white
        font-size 1.94em // 35px
        text-transform uppercase
        $text-shadow()
        text-align center
        display flex
        flex-flow row wrap
        &-top
            $backgroundImg('../img/fondo-azul2.png', 100%, 2.28em)
            // 80px
            background-position: center top
            z-index 2
            span 
                transform rotate(-1deg)
                margin-top 0.28em // 10px
                display inline-block
                font-size .7em
                line-height 2.2em
        &-bottom
            $backgroundImg('../img/fondo-rojo2.png', 100%, 2.857em)
            // 100px
            background-position: center top
            margin-top -1.571em // -55px
            z-index 1
            span 
                transform rotate(-2deg)
                display inline-block
                margin-top 1.52em // 38px
                margin-right 0.4em // 10px
                font-size 0.5em
                line-height 3.2em