section.ad__queEs#que-es
    .ad__queEs-img
        img(src="app/assets/img/home/aderogyl.png")
    .ad__queEs-carrusel
        .carousel.slide#carousel-queEs(data-ride="carousel")
            .carousel-inner
                .carousel-item.ad__queEs-slide1.active
                    p.linea1 AUXILIAR
                    p.linea2 EN LA PREVENCIÓN
                    p.linea3 Y TRATAMIENTO
                    p.linea4 DE LA GRIPE
                .carousel-item.ad__queEs-slide2
                    p.linea1 REFUERZA
                    p.linea2 LAS DEFENSAS Y FORTALECE
                    p.linea3 EL SISTEMA INMUNE
            a.carousel-control-prev(href="#carousel-queEs", role="button", data-slide="prev")
                span.left-carousel
                span.sr-only Anterior
            a.carousel-control-next(href="#carousel-queEs", role="button", data-slide="next")
                span.right-carousel
                span.sr-only Siguiente
