@require globalView

.ad__queEs
    $parallax()
    font-size 0.75em
    +$responsive(desktop1600)
        font-size .8em
    +$responsive(desktop1280 desktop_extended)
        font-size 1em
    &-mainImg
        margin 5% 10% 1% 20%
        position relative
        display flex
        justify-content center
        flex-flow row wrap
        align-items flex-end
        +$responsive(mobile_all)
            margin 15% 0 1% 0
        +$responsive(mobile_not_tablet iphonex)
            +$responsive(landscape)
                +$responsive(mobile360)
                    margin 15% auto 1% auto
                    width 85%
                    +$responsive(iphonex)
                        margin-top 12%
        +$responsive(desktop1400)
            margin-left 25%
            margin-right 20%
        +$responsive(desktop1600)
            margin-left 25%
            margin-right 25%
        +$responsive(desktop_extended)
            margin-right 20%
    &-img
        width 70%
        z-index 2
        +$responsive(mobile_all iphonex)
                width 45%
            +$responsive(landscape)
                +$responsive(mobile480)
                    width 50%
                +$responsive(iphonex)
                    width 43%
    &-beneficios
        padding 0
        margin-top 10%
        +$responsive(tablet768)
            max-width 100%
        +$responsive(mobile_not_tablet iphonex)
            +$responsive(landscape)
                margin 15px 20% 0 20%
                max-width 60%
                +$responsive(mobile480)
                    max-width 100%
                +$responsive(iphonex)
                    max-width 60%
            +$responsive(portrait iphonex)
                margin-top 10px
                .col-6
                    flex 0 0 80%f
                    max-width 80%
                    margin 0 auto
                    +$responsive(mobile480)
                        flex 0 0 50%
                        max-width 50%