section.ad__queEs#que-es
    .ad__queEs-logo-sanofi
        .container
            a(href="#")
                img(src="app/assets/img/sanofi.png")
    .ad__queEs-residentes Este sitio es para residentes de México
    .ad__queEs-video
        a(href="#videoComercial", data-src="https://www.youtube.com/embed/wwlsr2E_P1M")
            span.video-text
                span.video-ico
                span Ver Comercial
    .ad-dodge-color
        img(src="app/assets/img/destellos.png")
    .ad__queEs-mainImg
        .ad__queEs-img
            img(src="app/assets/img/5-ampolleta.png", alt="5")
        .ad__queEs-frase
            .ad__queEs-frase1 
                span ampolletas
            .ad__queEs-frase2
                span por persona
            .ad__queEs-frase3
                span.frase3-item1 1
                span.frase3-item2 cada
                span.frase3-item3 lunes
        .ad__queEs-img-caption.ad-caption
            span Aderogyl
                sup &reg; 
                | Solución. 
                | Registro Sanitario No.: 38878 SSA VI
        .ad__queEs-slogans
            .ad__queEs-slogan
                .ad__queEs-slogan-top
                    span Auxiliar en la prevención
                .ad__queEs-slogan-bottom
                    span y tratamiento de la gripe
            .ad__queEs-slogan
                .ad__queEs-slogan-top
                    span Refuerza las defensas
                .ad__queEs-slogan-bottom
                    span y fortalece el sistema inmune

    .ad__queEs-modales
        include que-es/video.jade