section.ad__beneficios#beneficios
    .ad__beneficios-vitaminas
        .ad__beneficios-vitaminas-a
            .ad__beneficios-vitaminas-icono.vitamina-a
                img(src="app/assets/img/vitamina-a.svg")
            .ad__beneficios-vitaminas-descripcion
                .ad__beneficios-vitaminas-title VITAMINA A
                ul
                    li Ayuda a prevenir alteraciones de la vista.
        .ad__beneficios-vitaminas-c
            .ad__beneficios-vitaminas-icono.vitamina-c
                img(src="app/assets/img/vitamina-c.svg")
            .ad__beneficios-vitaminas-descripcion
                .ad__beneficios-vitaminas-title VITAMINA C
                ul
                    li Auxiliar en la prevención y tratamiento de la gripe.
                    li Ayuda a prevenir alteraciones de la cicatrización.
        .ad__beneficios-vitaminas-d
            .ad__beneficios-vitaminas-icono.vitamina-d
                img(src="app/assets/img/vitamina-d.svg")
            .ad__beneficios-vitaminas-descripcion
                .ad__beneficios-vitaminas-title VITAMINA D
                ul
                    li Ayuda a prevenir alteraciones en la absorción y fijación de calcio en los huesos.
    .ad__beneficios-footer
        p Aderogyl&reg; C Solución. registro sanitario no.: 52096 SSA VI
