section.ad__beneficios#beneficios
    .ad__beneficios-logo
        .ad__beneficios-logo-c
            img(src="app/assets/img/c.png")
        .ad__beneficios-logo-infantil
            img(src="app/assets/img/infantil.png")
    .ad__beneficios-vitaminas
        .ad__beneficios-vitaminas-a
            .ad__beneficios-vitaminas-icono.vitamina-a
            .ad__beneficios-vitaminas-descripcion
                .ad__beneficios-vitaminas-title VITAMINA A
                ul
                    li Ayuda a prevenir alteraciones de la vista.
        .ad__beneficios-vitaminas-c
            .ad__beneficios-vitaminas-icono.vitamina-c
            .ad__beneficios-vitaminas-descripcion
                .ad__beneficios-vitaminas-title VITAMINA C
                ul
                    li Auxiliar en la prevención y tratamiento de la gripe.
                    li Ayuda a prevenir alteraciones de la cicatrización.
        .ad__beneficios-vitaminas-d
            .ad__beneficios-vitaminas-icono.vitamina-d
            .ad__beneficios-vitaminas-descripcion
                .ad__beneficios-vitaminas-title VITAMINA D
                ul
                    li Ayuda a prevenir alteraciones en la absorción y fijación de calcio en los huesos.
    .ad__beneficios-footer
        p Aderogyl&reg; C Solución. registro sanitario no.: 52096 SSA VI
