@require globalView

.ad__beneficios
    $parallax('../img/fondo2.jpg')
    padding-right 0
    overflow hidden
    .ad-dodge-color
        width 50%
    &-vitaminas
        position relative
        height 65%
        margin-left 25%
        margin-top 15%
        width 100%
        z-index 1
        +$responsive(mobile_all)
            height 85%
            margin-left 0
            margin-top 20%
        &-a,
        &-c,
        &-d
            position relative
            transition 1.5s
            z-index 1
            +$responsive(mobile_all)
                width 95%
                display flex
                pointer-events none
            +$responsive(desktop_all)
                position absolute
            .ad__beneficios-vitaminas-descripcion
                left 0
                width 90%
                font-size 1em
                display block
                +$responsive(tablet768)
                    font-size 1.3em
                    padding-bottom 20px
                    padding-top 20px
                +$responsive(desktop_all)
                    display none
                +$responsive(desktop1280 desktop1600 desktop_extended)
                    font-size 1.2em
                ul
                    +$responsive(mobile_all)
                        margin-bottom 0
            &:hover
                .ad__beneficios-vitaminas-descripcion
                    +$responsive(desktop_all)
                        display block
                    +$responsive(desktop_extended)
                        width 120%
        &-a
            +$responsive(desktop_all)
                top 7%
                left 10%
            +$responsive(desktop1600)
                top -7%
            .ad__beneficios-vitaminas-title
                color $color-Orange-Tangerine
            .ad__beneficios-vitaminas-descripcion
                +$responsive(mobile_all)
                    width 77%
                    margin-left 20%
                    margin-top 3%
                    padding-left 10%
                +$responsive(tablet768)
                    margin-top 5%
            &:hover
                +$responsive(desktop1024)
                    left -15%
                +$responsive(desktop1280 desktop1600)
                    left -2%
                +$responsive(desktop_extended)
                    left -5%
                .ad__beneficios-vitaminas-icono
                    transform rotate(28deg)
                .ad__beneficios-vitaminas-descripcion
                    +$responsive(desktop_all)
                        left 23%
                        top 10%
                        padding-left 15%
                        width 90%
                    +$responsive(desktop1280 desktop1600)
                        left 27%
                        padding-left 21%
                    +$responsive(desktop_extended)
                        top 20%
                        left 44%
                        padding-left 14%
        &-c
            +$responsive(desktop_all)
                bottom 0
                left 22%
            .ad__beneficios-vitaminas-descripcion
                +$responsive(mobile_all)
                    width 81%
                    margin-left 16%
                    margin-top 1%
                    padding-left 18%
                +$responsive(tablet768)
                    margin-top 3%
            &:hover
                left 0
                .ad__beneficios-vitaminas-icono
                    transform rotate(-20deg)
                .ad__beneficios-vitaminas-descripcion
                    width 125%
                    left 28%
                    top 12%
                    padding-left 15%
                    +$responsive(desktop1280 desktop1600 desktop_extended)
                        top 16%
                        left 49%
                        padding-left 18%
                        width 150%
                    +$responsive(desktop1280 desktop1600)
                        left 46%
            .ad__beneficios-vitaminas-title
                color $color-Orange-Tangerine
        &-d
            +$responsive(mobile_all)
                margin-top 1%
            +$responsive(desktop_all)
                top 0
                left 47%
            +$responsive(desktop1600)
                top -12%
            +$responsive(desktop_extended)
                left 35%
            .ad__beneficios-vitaminas-descripcion
                +$responsive(mobile_all)
                    width 83%
                    margin-left 15%
                    margin-top 3%
                    padding-left 17%
                +$responsive(tablet768)
                    margin-top 4%
            &:hover
                left 30%
                .ad__beneficios-vitaminas-icono
                    transform rotate(18deg)
                .ad__beneficios-vitaminas-descripcion
                    left 30%
                    padding-left 19%
                    top 12%
                    +$responsive(desktop1280 desktop1600)
                        top 14%
                        left 36%
                        padding-left 22%
                        width 110%
                    +$responsive(desktop_extended)
                        top 21%
                        left 51%
                        padding-left 23%
            .ad__beneficios-vitaminas-title
                color $color-Green-Citrus
        &-icono
            transition .3s
            &.vitamina-a
                +$responsive(mobile_all)
                    width 30%
                +$responsive(desktop1024)
                    width 40%
                +$responsive(desktop1280 desktop1600)
                    width 47%
                +$responsive(desktop_extended)
                    width 60%
            &.vitamina-c
                +$responsive(mobile_all)
                    width 35%
                +$responsive(desktop1024)
                    width 45%
                +$responsive(desktop1280 desktop1600)
                    width 63%
                +$responsive(desktop_extended)
                    width 70%
            &.vitamina-d
                +$responsive(mobile_all)
                    width 33%
                +$responsive(desktop1024)
                    width 50%
                +$responsive(desktop1280 desktop1600)
                    width 60%
                +$responsive(desktop_extended)
                    width 75%
        &-descripcion
            background $color-Brown-Maroon-transparent
            border-radius 20px
            padding 10px 20px
            position absolute
            z-index -1
            font-size 1.5em
            line-height 1.1em
            color white
            font-family $font-alternative-condensed
        &-title
            font-family $font-secondary
            font-size 1.3em
            line-height 1.2em
    &-footer
        position absolute
        bottom 10px
        width 100%
        text-align right
        right 20%