section.ad__beneficios#beneficios
    .ad__beneficios-vitaminas#scene-vitaminas(data-friction-x="0.075", data-friction-y="0.15", data-scalar-y="15", data-scalar-x="40", data-pointer-events="true")
        .ad__beneficios-vitaminas-a(data-depth="0.50")
            .ad__beneficios-vitaminas-icono.vitamina-a
                img(src="app/assets/img/vitamina-a.svg")
            .ad__beneficios-vitaminas-descripcion
                .ad__beneficios-vitaminas-title VITAMINA A
                ul
                    li Ayuda a prevenir alteraciones de la vista.
        .ad__beneficios-vitaminas-c(data-depth="0.40")
            .ad__beneficios-vitaminas-icono.vitamina-c
                img(src="app/assets/img/vitamina-c.svg")
            .ad__beneficios-vitaminas-descripcion
                .ad__beneficios-vitaminas-title VITAMINA C
                ul
                    li Auxiliar en la prevención y tratamiento de la gripe.
                    li Ayuda a prevenir alteraciones de la cicatrización.
        .ad__beneficios-vitaminas-d(data-depth="0.07")
            .ad__beneficios-vitaminas-icono.vitamina-d
                img(src="app/assets/img/vitamina-d.svg")
            .ad__beneficios-vitaminas-descripcion
                .ad__beneficios-vitaminas-title VITAMINA D
                ul
                    li Ayuda a prevenir alteraciones en la absorción y fijación de calcio en los huesos.
    .ad__beneficios-footer
        p Aderogyl&reg; C Solución. registro sanitario no.: 52096 SSA VI
