section.ad__beneficios#beneficios
    .ad-dodge-color
        img(src="app/assets/img/destellos.png")
    .ad__beneficios-vitaminas
        .ad__beneficios-vitaminas-a
            .ad__beneficios-vitaminas-icono.vitamina-a
                img(src="app/assets/img/vitamina-a.png")
            .ad__beneficios-vitaminas-descripcion
                .ad__beneficios-vitaminas-title VITAMINA A
                ul
                    li Ayuda a prevenir alteraciones de la vista.
        .ad__beneficios-vitaminas-c
            .ad__beneficios-vitaminas-icono.vitamina-c
                img(src="app/assets/img/vitamina-c.png")
            .ad__beneficios-vitaminas-descripcion
                .ad__beneficios-vitaminas-title VITAMINA C
                ul
                    li Auxiliar en la prevenci贸n y tratamiento de la gripe.
                    li Ayuda a prevenir alteraciones de la cicatrizaci贸n.
        .ad__beneficios-vitaminas-d
            .ad__beneficios-vitaminas-icono.vitamina-d
                img(src="app/assets/img/vitamina-d.png")
            .ad__beneficios-vitaminas-descripcion
                .ad__beneficios-vitaminas-title VITAMINA D
                ul
                    li Ayuda a prevenir alteraciones en la absorci贸n y fijaci贸n de calcio en los huesos.
    include ../../common/aderogyl-registro-sanitario/aderogyl-registro-sanitario.jade
    +caption(false, '52096 SSA VI', 'C', 'ad__beneficios-footer')
