@require globalView

.ad__beneficios
    $parallax('../img/fondo2.jpg')
    &-logo
        position absolute
        text-align right 
        left 25%
        align-self flex-start
        margin-top 3.5%
        &-infantil
            width 200px
    &-vitaminas
        position relative
        height calc(100% - 20%)
        margin-left 20%
        margin-top 20%
        width 100%
        z-index 1
        &-a,
        &-c,
        &-d
            position absolute
            transition 1.5s
            z-index 1
            width 100%
            .ad__beneficios-vitaminas-descripcion
                left 0
                width 200px
                visibility hidden
                opacity 0
            &:hover
                .ad__beneficios-vitaminas-icono
                    transform rotate(45deg)
                .ad__beneficios-vitaminas-descripcion
                    width 450px
                    visibility visible
                    opacity 1
        &-a
            top 5% !important
            left 15% !important
            .ad__beneficios-vitaminas-title
                color $color-Orange-Tangerine
            &:hover
                left -10% !important
                .ad__beneficios-vitaminas-descripcion
                    top calc(50% - 75px)
                    left 227px
                    padding-left 52px
        &-c
            bottom 0
            left 15% !important 
            top inherit !important
            &:hover
                left 0 !important
                .ad__beneficios-vitaminas-descripcion
                    top calc(50% - 80px)
                    left 272px
                    padding-left 80px
                    width 600px
            .ad__beneficios-vitaminas-title
                color $color-Orange-Tangerine
        &-d
            top 0 !important
            left 40% !important
            &:hover
                left 32% !important 
                .ad__beneficios-vitaminas-descripcion
                    top calc(50% - 100px)
                    left 243px
                    padding-left 80px
            .ad__beneficios-vitaminas-title
                color $color-Green-Citrus
        &-icono
            transition .3s
            &.vitamina-a
                width 20%
            &.vitamina-c
                width 25%
            &.vitamina-d
                width 23%
        &-descripcion
            background $color-Brown-Maroon-transparent
            border-radius 20px
            padding 20px
            position absolute
            z-index -1
            font-size 30px
            line-height 30px
            color white
        &-title
            font-family $font-secondary
            font-size 40px
            line-height 45px
    &-footer
        color white
        font-size 16px
        position absolute
        bottom 10px
        width 100%
        text-align right
        right 20%