.ad__modal#pregunta4
    .ad__modal-container
        .ad__faqs-modal-title
            a(href="#pregunta4")
                span ¿Puedo consumir ADerogyl
                    sup &reg; 
                    | solución durante el embarazo? 
        .ad__faqs-modal-content
            .ad__faqs4-left
                img(src="app/assets/img/logo-aderogyl.png")
                p No ingerir durante 
                    | el embarazo o lactancia.
            .ad__faqs4-center
                .ad-dodge-color
                    img(src="app/assets/img/destellos.png")
                img(src="app/assets/img/embarazada.jpg")
            .ad__faqs4-right
                img(src="app/assets/img/logo-aderogyl-infantil.png")
                p Consulte a su médico.
                p El uso en la lactancia 
                    | queda bajo responsabilidad y 
                    | vigilancia del médico.