.ad__modal#pregunta1
    .ad__modal-container
        .ad__faqs-modal-title
            a(href="#pregunta1")
                span ¿Cada cuánto debo tomar ADerogyl
                    sup &reg; 
                    | ? 
        .ad__faqs-modal-content
            .ad__faqs1-left
                img(src="app/assets/img/logo-aderogyl.png")
                p Las ampolletas ADerogyl
                    sup &reg; 
                    | se recomiendan tomar durante
                    | 5 o 6 semanas consecutivas,
                    | en caso necesario repetir
                    | la dosis a los 30 días.
            .ad__faqs1-center
                .ad-dodge-color#ad-dodge-color-faqs1
                    img(src="app/assets/img/shines.png")
                img(src="app/assets/img/aderogyl-adulto-infantil.png")
            .ad__faqs1-right
                img(src="app/assets/img/logo-aderogyl-infantil.png")
                p Durante la época que se desee la protección.