.ad__collapse#pregunta6(data-parent="#accordion")
    .ad__faqs-acordeon-container
        .ad__faqs-acordeon-content
            .ad-dodge-color
                img(src="app/assets/img/destellos.png")
            .ad__faqs6-left
                img(src="app/assets/img/logo-aderogyl.png")
                p En farmacias y cadenas de autoservicio.
            .ad__faqs6-right
                img(src="app/assets/img/aderogyl-cajas.png")