.ad__collapse#pregunta4(data-parent="#accordion")
    .ad__faqs-acordeon-container
        .ad__faqs-acordeon-content
            .ad-dodge-color
                img(src="app/assets/img/destellos.png")
            .ad__faqs4-left
                img(src="app/assets/img/logo-aderogyl.png")
                p No ingerir durante 
                    | el embarazo o lactancia.
            .ad__faqs4-center
                img(src="app/assets/img/embarazada.jpg")
            .ad__faqs4-right
                img(src="app/assets/img/logo-aderogyl-infantil.png")
                p Consulte a su médico.
                p El uso en la lactancia 
                    | queda bajo responsabilidad y 
                    | vigilancia del médico.