.ad__modal#pregunta3
    .ad__modal-container
        .ad__faqs-modal-title
            a(href="#pregunta3")
                span ¿Con qué debo mezclar ADerogyl
                    sup &reg; 
                    | solución? 
        .ad__faqs-modal-content
            .ad__faqs3-left
                img(src="app/assets/img/logo-aderogyl.png")
                p Diluya el contenido de la ampolleta en 
                    | 1/4 de vaso del líquido de preferencia, 
                    | agítelo ligeramente y bébalo.
            .ad__faqs3-right
                .ad-dodge-color
                    img(src="app/assets/img/destellos.png")
                img(src="app/assets/img/jugo.png")