.ad__modal#pregunta5
    .ad__modal-container
        .ad__faqs-modal-title
            a(href="#pregunta5")
                span ¿A partir de qué edad puedo tomar ADerogyl
                    sup &reg; 
                    | ? 
        .ad__faqs-modal-content
            .ad__faqs5-left
                img(src="app/assets/img/logo-aderogyl.png")
                p Mayores de 12 años.
            .ad__faqs5-center
                .ad-dodge-color
                    img(src="app/assets/img/destellos.png")
                img(src="app/assets/img/kids.png")
            .ad__faqs5-right
                img(src="app/assets/img/logo-aderogyl-infantil.png")
                p Lactantes y niños hasta los 12 años de edad.