.ad__modal#pregunta6
    .ad__modal-container
        .ad__faqs-modal-title
            a(href="#pregunta6")
                span ¿Dónde puedo comprar ADerogyl
                    sup &reg; 
                    | ? 
        .ad__faqs-modal-content
            .ad__faqs6-left
                img(src="app/assets/img/logo-aderogyl.png")
                p En farmacias y cadenas de autoservicio.
            .ad__faqs6-right
                img(src="app/assets/img/aderogyl-cajas.png")