.ad__collapse#pregunta2(data-parent="#accordion")
    .ad__faqs-acordeon-container
        .ad__faqs-acordeon-content
            .ad__faqs2-left
                img(src="app/assets/img/logo-aderogyl.png")
                p Recomendamos cubrir su mano 
                    | izquierda con un pañuelo desechable, 
                    | coloque su dedo pulgar por encima 
                    | del cuello de la ampolleta y presione 
                    | hacia atrás, sosteniendo el resto 
                    | de la ampolleta con la otra mano.
            .ad__faqs2-right
                img(src="app/assets/img/abrir-ampolleta-1.png")
                img(src="app/assets/img/abrir-ampolleta-2.png")
                img(src="app/assets/img/abrir-ampolleta-3.png")
                img(src="app/assets/img/abrir-ampolleta-4.png")
                img(src="app/assets/img/abrir-ampolleta-5.png")