@require globalView

#presentaciones
    $parallax('../img/fondo1.jpg')
.ad
    &__presentaciones
        &-container
            display flex
            margin-left 25%
            margin-top 10%
            width 60%
            align-items flex-end
            +$responsive(desktop1600 desktop_extended)
                width 50%
        &-modales 
            position fixed
            top 0
            left 0
            z-index 1
    &__presentacion
        position relative
        transition .3s
        &-copy
            position absolute
            bottom 16%
            line-height 1.1em
        &-btn
            width 6em
            margin 10% auto 0 auto
            +$responsive(desktop1600 desktop_extended)
                margin-top 5%
        &-infantil
            width 36%
            margin-top 16%
            +$responsive(desktop1280 desktop1600 desktop_extended)
                width 44%
                margin-top 5%
            .ad-caption
                left -3%
        &-adulto
            width 56%
            .ad-caption
                left 36%
    &__modal
        &-container
            display flex
            align-items flex-start
            position relative
            top 0
            .ad__presentacion
                z-index 1
            .ad__presentacion-via
                position absolute
                top -5%
                display none
            .ad__modal-presentacion-carrusel
                width 75%
                padding 0
                margin-left -12%
                display none
                +$responsive(desktop1280)
                    width 71%
                    margin-left -15%
                +$responsive(desktop1600 desktop_extended)
                    width 64%
                .carousel-control-prev,
                .carousel-control-next
                    top inherit 
                    bottom -10px
                    width  40px
                    opacity 1
                    &:hover
                        opacity .5
                .carousel-control-prev
                    left calc(55% - 40px)
                .carousel-control-next
                    right calc(45% - 40px)
            .ad__modal-close
                position absolute
                right 13px
                top 15px
                width 40px
                z-index 1
                +$responsive(desktop1600)
                    right 45px
                +$responsive(desktop_extended)
                    right 53px
            .carousel-item
                color white
                font-size 1.3em
                line-height 1.5em
                height 540px
                background $color-Blue-PrussianBlue-transparent
                border-radius 20px
                padding 0
                border 20px solid $color-Blue-Smalt-transparent
                +$responsive(desktop1280)
                    height 560px
                +$responsive(desktop1600)
                    height 560px
                +$responsive(desktop_extended)
                    height 600px
                h2
                    color $color-Yellow-GoldenYellow
                    padding 20px 0 0 20%
                    small 
                        font-size .6em
                        display block
                        color white
                &.ad__carrusel-infantil-slide2
                    line-height 1.2em
            .ad__carrusel-ingredientes
                display flex
                margin-left 14%
                margin-bottom 15px
                &-left
                    width 40%
                    padding 10px
                    ul
                        margin-bottom 0
                &-right
                    width 60%
                    padding 5px 15px
                    border-left 3px solid $color-Yellow-GoldenYellow
                    p
                        margin-bottom 4px
            .ad__carrusel-contenido
                padding-right 30px
                margin-left 20%
                h3
                    color $color-Blue-PacificBlue
                ul, li
                    list-style-type none
                    margin 0
                    padding 0
                li
                    position relative
                    padding-left 20px
                    &:before
                        content ''
                        position absolute
                        width 5px
                        height 5px
                        background $color-Blue-PacificBlue
                        top 14px
                        left 0
            .ad__carrusel-contenido-highlighted
                color $color-Yellow-GoldenYellow
                margin 10px 0
            .ad__carrusel-indicaciones
                ul, li
                    list-style-type none
                    margin 0
                    padding 0
                ul
                    margin-left 20%
                    margin-right 30px
                li
                    position relative
                    padding-left 20px
                    &:before
                        content ''
                        position absolute
                        width 5px
                        height 5px
                        background $color-Yellow-GoldenYellow
                        top 14px
                        left 0
                h4
                    color $color-Red-Alizarin
                    font-size 1.9rem
                    margin 15px 0
                    margin-left 20%
                &-ribbon-rojo
                    background-image url(../img/ribbon-rojo.png)
                    margin-right -25px
                    color white
                    padding-left 31%
                    img 
                        height 40px
                        margin-left 20px
                &-ribbon-amarillo
                    background-image url(../img/ribbon-amarillo.png)
                    margin-left -25px
                    color $color-Blue-RegalBlue
                    text-align center
                    font-size 29px
                &-ribbon-amarillo,
                &-ribbon-rojo
                    background-repeat no-repeat
                    background-size cover
                    height 65px
                    font-family sans-serif
                    font-weight 700
                    z-index 1
                &-content
                    display flex
                    font-family sans-serif
                    font-size .6em
                    line-height 1.5em
                    text-align center
                    background $color-Blue-RegalBlue
                    padding 15px 15px 15px 20%
                    margin-top -23px
                    z-index -1
                    +$responsive(desktop1600)
                        padding-left 15%
                &-gotero
                    width 20%
                &-left,
                &-right
                    width 40%
                    padding 15px
                &-right
                    border-left 3px solid $color-Yellow-GoldenYellow
                .indicaciones-gotas
                    img 
                        height 16px
                        +$responsive(desktop_extended)
                            height 19px
                .indicaciones-gotasText
                    display block
                    color $color-Yellow-GoldenYellow
                &-footer
                    text-align center
                    font-family sans-serif
                    font-size .6em
                    padding 5px 0 0 14%
        &-infantil
            width 48%
            font-size .8em
            margin-left 25%
            position absolute
            +$responsive(desktop1280)
                margin-top 8%
            +$responsive(desktop1600)
                margin-top 8%
            +$responsive(desktop_extended)
                margin-top 8%
                font-size 1em
        &-adulto
            width 51%
            margin-top 6%
            margin-left 21%
            position absolute
            display flex
            flex-flow row wrap
            justify-content flex-end
            +$responsive(desktop1280)
                margin-top 1%
            .ad__modal-close
                right 9px
            .ad__carrusel-indicaciones-left
                padding 0
                width 30%
                img 
                    width 14px
                    margin 2px
                    +$responsive(desktop1280 desktop1600 desktop_extended)
                        width 15px
            .ad__carrusel-indicaciones-right
                width 70%
                border none 
                padding 0 0 0 5px
                font-size 1.1em
                span 
                    display block
                    line-height 1.1em
                .indicaciones-ampolletasText
                    font-size 2em
                    font-weight 700
                    +$responsive(desktop1600 desktop_extended)
                        font-size 2.3em
                .indicaciones-ampolletasTime
                    font-size 1.1em
                    font-weight 700
                    color $color-Yellow-GoldenYellow
                    line-height 1.5em
                    +$responsive(desktop1600 desktop_extended)
                        font-size 1.3em
                .indicaciones-tratamiento
                    font-size 1.1em
                    line-height 1.5em
                    +$responsive(desktop1600 desktop_extended)
                        font-size 1.5em
            .ad__carrusel-banner
                $backgroundImg('../img/fondo-rojo.png', 100%, 120px)
                color white
                margin-top -21px
                padding-top 5px
                span
                    display block
                    transform rotate(-2deg)
                .indicaciones-text
                    &1
                        font-size 16px
                        line-height 16px
                    &2
                        font-size 43px
                        line-height 32px
                        font-weight bold
                    &3
                        font-size 26px
                        line-height 31px
                        font-weight bold
                    &4
                        font-size 25px
                        font-weight bold
                        color $color-Yellow-GoldenYellow
                        line-height 46px
                        text-align right 
                        padding-right 38px
                    &5
                        transform none
                        font-size 16px
                        margin-top 15px
            .ad__modal-presentacion-carrusel
                width 66%
                margin-left 0
                position relative
                +$responsive(desktop1280)
                    width 62%
                +$responsive(desktop1600 desktop_extended)
                    width 54%
            .ad__presentacion
                width 43%
                margin-top 16%
                margin-left -12%
                +$responsive(desktop1280)
                    width 47%
                    margin-top 13%
                +$responsive(desktop1600)
                    width 48%
                    margin-top 12%
                +$responsive(desktop_extended)
                    width 53%
                    margin-top 11%
            .carousel-item
                height 590px
                +$responsive(desktop1280)
                    height 580px
                +$responsive(desktop1600 desktop_extended)
                    height 610px
                h2
                    padding 20px 14% 0 30px
            .ad__carrusel-indicaciones
                ul
                    margin-left 35px
                    margin-right 20%
                h4
                    color $color-Yellow-GoldenYellow
                    margin-left 30px
                &-content
                    background none
                    padding 15px 20% 15px 30px
            .ad__carrusel-ingredientes
                margin-left 0
                font-size .9em
                line-height 1.3em
                margin-right 14%
            .ad__carrusel-contenido
                font-size .9em
                line-height 1.3em
                margin-left 30px
                margin-right 13%
@keyframes viewModal
    0%
        opacity 0
    100%
        opacity 1
@keyframes hideModal
    0%
        opacity 1
    100%
        opacity 0
.ad__adulto,
.ad__infantil
    .ad__modal
        display block
        left 0
        top 0
        visibility visible
        z-index 1
        animation viewModal 1s linear .3s 1 normal forwards
.ad__adulto
    .ad__modal-infantil
        z-index -1
    .ad__modal-adulto
        z-index 1
        .ad__modal-presentacion-carrusel
            display block
            opacity 0
            animation viewModal .3s linear .1s 1 normal forwards
        .ad__presentacion-btn
            opacity 1
            animation hideModal .3s linear .1s 1 normal forwards
        .ad__presentacion-via
            display block
            opacity 0
            animation viewModal .3s linear .1s 1 normal forwards
.ad__infantil
    .ad__modal-adulto
        z-index -1
    .ad__modal-infantil
        z-index 1
        .ad__modal-presentacion-carrusel
            display block
            opacity 0
            animation viewModal .3s linear .1s 1 normal forwards
        .ad__presentacion-btn
            opacity 1
            animation hideModal .3s linear .1s 1 normal forwards
        .ad__presentacion-via
            display block
            opacity 0
            animation viewModal .3s linear .1s 1 normal forwards
.ad__transition
    .ad__modal
        opacity 1 !important
        animation hideModal .3s linear .1s 1 normal forwards !important
    .ad__modal-presentacion-carrusel
        opacity 1 !important
        animation hideModal .3s linear .1s 1 normal forwards !important
    .ad__presentacion-btn
        opacity 0 !important
        animation viewModal .3s linear .1s 1 normal forwards !important
    .ad__presentacion-via
        opacity 1 !important
        animation hideModal .3s linear .1s 1 normal forwards !important