section.ad__presentaciones#presentaciones
    .ad__presentaciones-container
        .ad__presentacion.ad__presentacion-infantil
            .add_presentacion-img
                img(src="app/assets/img/aderogyl-infantil.png")
            .ad__presentacion-copy Aderogyl
                sup &reg; 
                | C Solución.
                | registro sanitario no.: 52096 SSA VI
            .ad__presentacion-btn
                a(href="#") ¿CÓMO TOMARLO?
        .ad__presentacion.ad__presentacion-adult
            .add_presentacion-img
                img(src="app/assets/img/aderogyl-adulto.png")
            .ad__presentacion-copy Aderogyl
                sup &reg; 
                | Solución.
                br
                | registro sanitario no.: 38878 SSA VI
            .ad__presentacion-btn
                a(href="#") ¿CÓMO TOMARLO?