@require globalView

.ad
    &__presentaciones
        $parallax('../img/fondo1.jpg')
        &-container
            display flex
            margin-left 25%
            margin-top 10%
            width 50%
            align-items flex-end
        &-modales 
            position fixed
            top 0
            left 0
            z-index 1
    &__presentacion
        position relative
        transition .3s
        &-copy
            position absolute
            bottom 16%
            line-height 1.1em
        &-btn
            width 200px
            margin 5% auto
        &-infantil
            width 44%
            .ad-caption
                left -3%
        &-adulto
            width 56%
            .ad-caption
                left 36%
    &__modal
        &-container
            display flex
            align-items flex-start
            position relative
            .ad__presentacion
                z-index 1
            .ad__presentacion-via
                position absolute
                top -5%
            .ad__presentacion-copy
                bottom 1%
            .ad__modal-presentacion-carrusel
                width 64%
                padding 0
                margin-left -12%
                .carousel-inner
                    padding 0 40px
                .carousel-control-prev,
                .carousel-control-next
                    top inherit 
                    bottom -25px
                    width  40px
                    opacity 1
                    &:hover
                        opacity .5
                .carousel-control-prev
                    left calc(50% - 40px)
                .carousel-control-next
                    right calc(50% - 40px)
            .ad__modal-close
                position absolute
                right 60px
                top -2px
                width 40px
                z-index 1
            .carousel-item
                font-size 1.3em
                line-height 1.5em
                height 580px
                background $color-Blue-PrussianBlue-transparent
                border-radius 20px
                padding 0
                h2
                    color $color-Yellow-GoldenYellow
                    padding 20px 0 0 14%
                    small 
                        font-size .6em
                        display block
                        color white
                &.ad__carrusel-infantil-slide2
                    line-height 1.2em
            .ad__carrusel-ingredientes
                display flex
                margin-left 14%
                margin-bottom 15px
                &-left
                    width 40%
                    padding 10px
                    ul
                        margin-bottom 0
                &-right
                    width 60%
                    padding 10px
                    border-left 3px solid $color-Yellow-GoldenYellow
                    p
                        margin-bottom 4px
            .ad__carrusel-contenido
                padding-right 30px
                margin-left 16%
                h3
                    color $color-Blue-PacificBlue
                ul, li
                    list-style-type none
                    margin 0
                    padding 0
                li
                    position relative
                    padding-left 20px
                    &:before
                        content ''
                        position absolute
                        width 5px
                        height 5px
                        background $color-Blue-PacificBlue
                        top 14px
                        left 0
            .ad__carrusel-contenido-highlighted
                color $color-Yellow-GoldenYellow
                margin 10px 0
            .ad__carrusel-indicaciones
                ul, li
                    list-style-type none
                    margin 0
                    padding 0
                ul
                    margin-left 16%
                li
                    position relative
                    padding-left 20px
                    &:before
                        content ''
                        position absolute
                        width 5px
                        height 5px
                        background $color-Yellow-GoldenYellow
                        top 14px
                        left 0
                h4
                    color $color-Red-Alizarin
                    font-size 1.9rem
                    margin 15px 0
                    margin-left 16%
                &-ribbon-rojo
                    background-image url(../img/ribbon-rojo.png)
                    background-repeat no-repeat
                    background-size cover
                    margin-right -24px
                    height 65px
                    color white
                    font-family sans-serif
                    padding-left 31%
                    font-weight 700
                    z-index 1
                    img 
                        height 40px
                        margin-left 20px
                &-ribbon-amarillo
                    background-image url(../img/ribbon-amarillo.png)
                    background-repeat no-repeat
                    background-size 120% auto
                    height 85px
                    margin-left -43px
                    color $color-Blue-RegalBlue
                    font-size 1.2em
                    text-align center
                    line-height 1.5em
                    font-family sans-serif
                    font-weight 700
                &-content
                    display flex
                    font-family sans-serif
                    font-size .6em
                    line-height 1.5em
                    text-align center
                    background $color-Blue-RegalBlue
                    padding 15px 15px 15px 16%
                    margin-top -25px
                    z-index -1
                &-gotero
                    width 20%
                &-left,
                &-right
                    width 40%
                    padding 15px
                &-right
                    border-left 3px solid $color-Yellow-GoldenYellow
                .indicaciones-gotas
                    img 
                        height 19px
                .indicaciones-gotasText
                    display block
                    color $color-Yellow-GoldenYellow
                &-footer
                    text-align center
                    font-family sans-serif
                    font-size .6em
                    padding 5px 0 0 14%
        &-infantil
            width 48%
            margin-top 5%
        &-adulto
            width 51%
            margin-top 4%
            margin-left 2%
            .ad__modal-close
                right 35px
            .ad__carrusel-indicaciones-left
                padding 0
                width 30%
                img 
                    width 15px
                    margin 2px
            .ad__carrusel-indicaciones-right
                width 70%
                border none 
                padding 0 0 0 5px
                font-size 1.1em
                span 
                    display block
                    line-height 1.1em
                .indicaciones-ampolletasText
                    font-size 2.3em
                    font-weight 700
                .indicaciones-ampolletasTime
                    font-size 1.3em
                    font-weight 700
                    color $color-Yellow-GoldenYellow
                    line-height 1.5em
                .indicaciones-tratamiento
                    font-size 1.5em
                    line-height 1.5em
            .ad__modal-presentacion-carrusel
                width 54%
                margin-left 0
                position relative
            .ad__presentacion
                width 53%
                margin-top 3%
                margin-left -12%
            .carousel-item
                height 610px
                h2
                    padding 20px 14% 0 30px
            .ad__carrusel-indicaciones
                ul
                    margin-left 35px
                    margin-right 16%
                h4
                    color $color-Yellow-GoldenYellow
                    margin-left 30px
                &-content
                    margin-top -40px
                    background none
                    padding 15px 16% 15px 30px
            .ad__carrusel-ingredientes
                margin-left 30px
                font-size .9em
                line-height 1.3em
            .ad__carrusel-contenido
                font-size .9em
                line-height 1.3em
                margin-left 30px
                margin-right 8%
