@require globalView

.ad__modal-adulto
    width 80%
    margin-top 9%
    margin-left 5%
    position absolute
    display flex
    flex-flow row wrap
    justify-content flex-end
    +$responsive(mobile_all)
        position relative
        width 100%
        margin 24% 0 5% -110%
        +$responsive(landscape)
            margin 0 0 0 -120%
            +$responsive(mobile480)
                margin-top 15px
        +$responsive(portrait)
            +$responsive(mobile480)
                margin-top 18%
    +$responsive(mobile_not_tablet iphonex)
        +$responsive(landscape)
            margin-left -130%
    +$responsive(iphonex)
        +$responsive(landscape)
            margin-top 0
    +$responsive(tablet768)
        margin-top 6%
        +$responsive(landscape)
            margin-top 3%
    +$responsive(desktop1280)
        margin-top 11%
        margin-left 16%
        width 65%
    +$responsive(desktop1400)
        margin-top 6%
        margin-left 8%
    +$responsive(desktop1600)
        margin-top 7%
        margin-left 24%
        width 48%
    +$responsive(desktop_extended)
        width 51%
        margin-left 26%
        margin-top 7%
    .ad__presentacion-img
        width 111%
        +$responsive(mobile_not_tablet iphonex)
            width 135%
            margin-top 39%
            +$responsive(portrait)
                width 125%
                margin-top calc(40% + 59px)
            +$responsive(landscape)
                margin-top 50%
                +$responsive(mobile480 pixelratio1)
                    margin-top 73%
                +$responsive(mobile360 mobile375)
                    margin-top 70%
                +$responsive(iphone5)
                    width 120%
                    margin-top 75%                
        +$responsive(tablet768)
            margin-top 10%
            +$responsive(portrait)
                margin-top 24%
        +$responsive(iphonex)
            +$responsive(landscape)
                margin-top 27%
        +$responsive(iphone_plus6-7-8)
            +$responsive(landscape)
                margin-top 35%
        +$responsive(samsung_galaxy)
            +$responsive(landscape)
                margin-top 34%
    .ad__presentacion-copy
        +$responsive(desktop1280)
            bottom 18%
    .ad__presentacion-btn
        margin-top 8%
        +$responsive(mobile_all)
            margin 8px 0 0 35%
            +$responsive(landscape)
                margin-top 3px
        +$responsive(mobile320)
            margin 0 0 0 20%
        +$responsive(tablet768)
            +$responsive(portrait)
                margin-top calc(1% - 11px)
        +$responsive(tablet1024)
            margin-top calc(8% - 2px)
        +$responsive(desktop1280)
            margin-top calc(7% - 11px)
        +$responsive(desktop1600)
            margin-top calc(3% - 3px)
        +$responsive(desktop_extended)
            margin-top calc(4% - 1px)
    .ad__modal-close
        right 9px
        top 3%
        +$responsive(mobile_all)
            top 0
            left 0
            right inherit
            +$responsive(landscape)
                top 2%
            +$responsive(portrait)
                left 10px
    .ad__carrusel-indicaciones-left
        padding 0
        width 30%
        img 
            width 14px
            margin 2px
            +$responsive(desktop1280 desktop1600 desktop_extended)
                width 15px
    .ad__carrusel-indicaciones-right
        width 70%
        border none 
        padding 0 0 0 5px
        font-size 1.1em
        span 
            display block
            line-height 1.1em
        .indicaciones-ampolletasText
            font-size 2em
            font-weight 700
            +$responsive(desktop1600 desktop_extended)
                font-size 2.3em
        .indicaciones-ampolletasTime
            font-size 1.1em
            font-weight 700
            color $color-Yellow-GoldenYellow
            line-height 1.5em
            +$responsive(desktop1600 desktop_extended)
                font-size 1.3em
        .indicaciones-tratamiento
            font-size 1.1em
            line-height 1.5em
            +$responsive(desktop1600 desktop_extended)
                font-size 1.5em
    .ad__carrusel-banner
        width 100%
        .indicaciones-desayuno
            font-size 1.1em
            margin-top 20px
            display block
            +$responsive(mobile_not_tablet iphonex)
                margin-top 10px
                font-size 1.3em
                +$responsive(landscape)
                    margin -10px 0 0 -335px
                    font-size 1.1em
                    +$responsive(mobile480)
                        margin 10px 0 0 0
                        font-size 1.2em
    .ad__modal-presentacion-carrusel
        width 550px
        margin-left -15%
        margin-top 0
        margin-right -5%
        position relative
        +$responsive(mobile_not_tablet iphonex)
            font-size .8em
            z-index 3
            position fixed
            margin 0
            +$responsive(landscape)
                top calc(50% - 145px)
                width 500px
                left calc(50% - 250px)
                height 290px
                +$responsive(mobile480)
                    height 390px
                    top calc(50% - 195px)
                    font-size 1em
                +$responsive(iphone5)
                    height 290px
                    top calc(50% - 145px)
                    font-size .9em
            +$responsive(portrait)
                top calc(50% - 200px)
                width 320px
                left calc(50% - 160px)
                height 400px
        +$responsive(tablet768)
            +$responsive(landscape)
                margin-right -7%
                margin-top 5%
            +$responsive(portrait)
                margin 0 -32% 0 0
                height 440px
        +$responsive(iphonex)
            +$responsive(landscape)
                margin 0
        +$responsive(desktop1280)
            width 650px
            margin-left -20%
            margin-right -5%
            margin-top 0
        +$responsive(desktop1400)
            width 600px
            margin-top 3%
        +$responsive(desktop1600)
            margin-top -5%
            font-size .9em
        +$responsive(desktop_extended)
            margin-top 5%
            width 650px
    .ad__presentacion
        width 43%
        margin-top 16%
        margin-left -12%
        +$responsive(mobile_all)
            width 46%
            margin 0
            height 460px
            +$responsive(landscape)
                height 470px
                width 27%
                margin-top 30%
            +$responsive(portrait)
                height 550px
                +$responsive(mobile360)
                    height 530px
                +$responsive(mobile480)
                    height 460px
        +$responsive(mobile_not_tablet iphonex)
            +$responsive(landscape)
                height 300px
                width 20%
                margin-top 0
                +$responsive(mobile480)
                    height 400px
                    width 25%
        +$responsive(iphonex)
            +$responsive(landscape)
                margin-left -125%
        +$responsive(desktop1280)
            width 47%
            margin-top 13%
        +$responsive(desktop1400)
            width 37%
        +$responsive(desktop1600)
            width 48%
            margin-top 12%
        +$responsive(desktop_extended)
            width 53%
            margin-top 11%
    .carousel-item
        h2
            padding 20px 14% 0 30px
            +$responsive(mobile_all)
                font-size 1.2em
                padding 10px 20px
                margin-bottom 0
            small
                +$responsive(mobile_not_tablet iphonex)
                    +$responsive(landscape)
                        font-size .4em
        &.ad__carrusel-adulto-slide2
            +$responsive(mobile_not_tablet iphonex)
                padding 10px
                +$responsive(landscape)
                    padding 0 10px
                    font-size 1.2em
            +$responsive(tablet768)
                 +$responsive(landscape)
                    font-size 1.52em
                +$responsive(portrait)
                    padding 10px
             +$responsive(iphonex)
                +$responsive(landscape)
                    font-size 1.2em
            +$responsive(desktop1600 desktop_extended)
                padding-top 20px
                padding-left 20px
            h2
                padding 7px 20px 0 15px
                margin-bottom 2px
        &.ad__carrusel-adult-slide1
            +$responsive(mobile_not_tablet iphonex)
                padding 10px 0
                h2
                    font-size 1.3em
                    +$responsive(landscape)
                        padding 0
                        margin 0 0 3px 20px
        +$responsive(mobile_not_tablet iphonex)
             +$responsive(landscape)
                height 290px
                padding 0
                font-size 1em
                +$responsive(mobile480)
                    height 390px
                +$responsive(iphone5)
                    height 290px
            +$responsive(portrait)
                height 400px
        +$responsive(mobile_all)
            +$responsive(portrait)
                font-size 1.2em
                h2 
                    font-size 1.15em
                    padding 15px 0 0 15px
                h4
                    margin 10px 0 5px 15px
        +$responsive(tablet768)
            +$responsive(portrait)
                padding-right 45px
                height 440px
            +$responsive(landscape)
                padding-right 25px
    .ad__carrusel-indicaciones
        font-size .9em
        ul
            margin-left 35px
            margin-right 21%
        h4
            color $color-Yellow-GoldenYellow
            margin-left 30px
        +$responsive(mobile_all)
            font-size .8em
            h4
                font-size 1.5em
                margin 10px 10px 10px 29px
        +$responsive(mobile_not_tablet iphonex)
            ul
                margin 0 30px 20px 30px
            li
                &:before
                    top 6px
            +$responsive(landscape)
                ul
                    margin 0 20px 10px 20px
                    font-size .8em
    .ad__carrusel-indicaciones-content
        background none
        padding 0
        width 60%
        margin 0 26% 0 auto
        +$responsive(mobile_not_tablet iphonex)
            +$responsive(landscape)
                margin-top -26px
                width 35%
                margin-right auto
                +$responsive(mobile480) 
                    width 45%
                +$responsive(iphone5)
                    width 33%
            +$responsive(portrait)
                width 60%
                margin -23px auto 0 auto
        +$responsive(tablet1024)
            margin-top -35px
            margin-right 25%
        +$responsive(desktop1280)
            margin-top -38px
            width 50%
            margin-right 29%
        +$responsive(desktop1400)
            margin-top -40px
            width 41%
            margin-right 33%
        +$responsive(desktop1600)
            margin-top -35px
        +$responsive(desktop_extended)
            margin-top -28px
    .ad__carrusel-ingredientes
        margin-left 0
        line-height 1.3em
        margin-right 20%
        font-size 0.7em
        +$responsive(mobile_all)
            margin 0
            font-size .55em
        +$responsive(mobile_not_tablet iphonex)
            +$responsive(landscape)
                font-size .5em
            +$responsive(portrait)
                flex-flow row wrap
        +$responsive(tablet768)
            font-size .7em
            +$responsive(landscape)
                margin-right 12%
    .ad__carrusel-ingredientes-left
        +$responsive(mobile_not_tablet iphonex)
            width 42%
            padding 5px
            ul
                padding-left 16px
            +$responsive(portrait)
                width 90%
                margin 0 auto
    .ad__carrusel-ingredientes-right
        +$responsive(mobile_not_tablet iphonex)
            padding 2px 12px
            +$responsive(portrait)
                width 90%
                margin 0 auto
                border-top 3px solid $color-Yellow-GoldenYellow
                border-left none
                p
                    margin 2px 0 0 0
    .ad__carrusel-contenido
        line-height 1.3em
        margin-left 30px
        margin-right 20%
        font-size 0.7em
        +$responsive(mobile_all)
            margin 10px 
            padding-right 9px
            font-size .55em
            +$responsive(portrait)
                margin 5px 5px 5px 10px
            +$responsive(landscape)
                margin-right 12%
            h3
                font-size 1.7em
                margin-bottom 5px
            li
                padding-left 10px
            p.ad__carrusel-contenido-highlighted
                margin 0
                +$responsive(iphone5)
                    +$responsive(landscape)
                        margin-top 10px
        +$responsive(mobile_not_tablet iphonex)
            +$responsive(landscape)
                margin 0 35px 0 10px
                padding 0
                font-size .44em
                +$responsive(mobile480)
                    font-size .5em
                +$responsive(iphone5)
                    font-size .44em
        +$responsive(tablet768)
            +$responsive(landscape)
                font-size .7em
                padding-right 0
            +$responsive(portrait)
                padding 10px 165px 10px 15px
                font-size .6em
        +$responsive(iphonex)
            +$responsive(landscape)
                font-size .44em
        +$responsive(desktop_extended)
            margin-right 17%
    .carousel-control-prev
        +$responsive(mobile_not_tablet iphonex)
            +$responsive(landscape)
                left 440px !important
                bottom 3px !important
                +$responsive(mobile480)
                    left calc(50% - 40px) !important
                +$responsive(iphone5)
                    left 440px !important
    .carousel-control-next
        +$responsive(mobile_not_tablet iphonex)
            +$responsive(landscape)
                left 475px !important
                bottom 3px !important
                +$responsive(mobile480)
                    right calc(50% - 40px) !important
                    left inherit !important
                +$responsive(iphone5)
                    left 475px !important
