footer.ad__footer
    .ad__footer-left
        p ADerogyl&reg; Solución
        p Registro sanitario No.: 38878 SSA VI
        p No se administre a menores de 12 años  
        p Si persisten las molestias, consulte a su médico  
        p Lea las instrucciones de uso
    .ad__footer-center
        p COPYRIGHT &copy; 2018.
        p TODOS LOS DERECHOS RESERVADOS
        p POR SANOFI-AVENTIS DE MÉXICO S.A. DE C.V.
        ul
            li
                a(href="#") AVISO LEGAL
            li
                a(href="#") AVISO DE FARMACOVIGILANCIA
            li
                a(href="#") AVISO DE PRIVACIDAD
    .ad__footer-right
        p ADerogyl&reg; C Solución
        p Registro sanitario No.: 52096 SSA VI
        p Permiso de publicidad No. XXXX