@require globalView

.ad__footer
    background-image  url(../img/fondo-footer.png)
    width 100%
    background-position center top
    background-repeat no-repeat
    background-size cover
    display flex
    align-items center
    z-index 4
    position relative
    padding 9% 30px 30px 30px
    flex-flow row wrap
    color white
    font-size .65em
    font-family $font-alternative
    $text-shadow()
    z-index 6
    +$responsive(mobile_all)
        padding 10px
        margin-top 20%
    +$responsive(desktop1280 desktop1600 desktop_extended)
        font-size .8em
    p
        margin 0
    &-left
        width 33%
        text-align left 
        +$responsive(mobile_all)
            width 50%
            order 1
    &-right
        width 33%
        text-align right 
        +$responsive(mobile_all)
            width 50%
            order 2
    &-center
        width 34%
        text-align center
        +$responsive(mobile_all)
            width 100%
            order 3
            margin 30px 0
        .actualizacion
            font-weight 300
            line-height 2.1em
    &-legales
        width 100%
        text-align center
        +$responsive(mobile_all)
            font-size .9em
            order 4
        ul, li
            list-style-type none
            margin 0
            padding 0
        li
            display inline-block
            a
                text-decoration underline
                color white
                transition .3s
                padding 20px
                &:hover
                    opacity .8
    &-modales
        position fixed
        top 0
        left 0
        z-index 1
