footer.ad__footer
    .ad__footer-left
        p ADerogyl
            sup &reg; 
            | Solución
        p Registro sanitario No.: 38878 SSA VI
        p No se administre a menores de 12 años  
        p Si persisten las molestias, consulte a su médico  
        p Lea las instrucciones de uso
    .ad__footer-center
        p COPYRIGHT &copy; 2018.
        p TODOS LOS DERECHOS RESERVADOS
        p POR SANOFI-AVENTIS DE MÉXICO S.A. DE C.V.
        p.actualizacion Fecha de actualización: Octubre 2018
    .ad__footer-right
        p ADerogyl
            sup &reg; 
            | C Solución
        p Registro sanitario No.: 52096 SSA VI
        p Permiso de Publicidad No. 183300201B2104
        p SAMX.REE.18.04.0483
    .ad__footer-legales
        ul
            li
                a(href="#avisoLegal") AVISO LEGAL
            li
                a(href="#avisoFarmacovigilancia") AVISO DE FARMACOVIGILANCIA
            li
                a(href="#avisoPrivacidad") AVISO DE PRIVACIDAD
    .ad__footer-modales
        include ../legales/aviso-legal.jade
        include ../legales/aviso-de-farmacovigilancia.jade
        include ../legales/aviso-de-privacidad.jade