.ad__modal#avisoFarmacovigilancia
    .ad__modal-container.ad__modal-container-legales
        .ad__legales-title
            h1 AVISO DE FARMACOVIGILANCIA
            .ad__legales-close
                a(href="#avisoFarmacovigilancia")
                    img(src="app/assets/img/close-modal.png", alt="Cerrar", title="Cerrar")
        .ad__legales-content
            h2 ¿NECESITAS REPORTAR UN EFECTO INDESEABLE CON UN MEDICAMENTO? 
            p 
                | Estimado usuario, te informamos que por ley, en México, los efectos indeseables y reacciones secundarias de los medicamentos deben ser notificados a la autoridad sanitaria, por lo que te solicitamos atentamente que para atender tu caso, te comuniques al teléfono 01 800 123 41 41 (gratuito) o, bien, al (55)54844326 / (55) 54844327, o vía correo electrónico: fv-imed@sanofi.com
                br
                | Estamos para servirte. 
                br
                | Consulta a tu médico.” 
            h2 ¿TIENES DUDA SOBRE ALGUN MEDICAMENTO? 
            p
                | Estimado usuario, tu inquietud puede ser atendida por el departamento de Información Médica de SANOFI, por lo que te solicitamos que te comuniques al teléfono 01 800 123 41 41 (gratuito) o, bien, al (55) 54844326 / (55) 54844327, o vía correo electrónico: fv-imed@sanofi.com 
                br
                | Estamos para servirte. 
                br
                | Consulta a tu médico.” 
            h2 ¿DESEAS NOTIFICAR ALGUNA QUEJA DE CALIDAD DE ALGÚN PRODUCTO? 
            p
                | Estimado usuario, tu inquietud puede ser atendida por el departamento de calidad de SANOFI, por lo que te solicitamos que te comuniques al teléfono 01 800 123 41 41 (gratuito) o vía correo electrónico: mexico.calidadycumplimiento@sanofi.com 
                br
                | Estamos para servirte. 
                br
                | Consulta a tu médico.”