.ad__modal#avisoLegal
    .ad__modal-container.ad__modal-container-legales
        .ad__legales-title
            h1 AVISO LEGAL
            .ad__legales-close
                a(href="#avisoLegal")
                    img(src="app/assets/img/close-modal.png", alt="Cerrar", title="Cerrar")
        .ad__legales-content
            p Esta página describe las instrucciones legales que rigen el uso de  este sitio. Al consultar este sitio usted se acepta cumplirá sin reserva, los presentes términos y condiciones. Debido a que éstos pueden modificarse en algunas ocasiones y sin previo aviso, se recomienda su consulta de manera regular.
            h2 1. Propiedad intelectual
            p Este Sitio es propiedad de y está operado por Sanofi-aventis de México, S.A. de C.V. (en adelante la “Compañía”), parte del Grupo Sanofi. La distribución y cada uno de los componentes, incluyendo las marcas registradas, logos y nombres de dominio que aparecen en Sitio ADerogyl® www.aderogyl.com.mx (en adelante el “Sitio”), están protegidos por las leyes vigentes en Propiedad Intelectual, y le pertenecen a la compañía francesa: SANOFI o a sus subsidiarias, o su uso ha sido objeto de una autorización. 
            p Ningún componente del Sitio puede copiarse, reproducirse, alterarse, editarse, bajarse, transmitirse o distribuirse de ninguna manera,  ni por ningún medio, ya sea total o parcialmente, sin el previo consentimiento por escrito de la Compañía, excepto para uso exclusivo  de requisitos de prensa, sujetos al cumplimiento de derechos de propiedad intelectual y cualquier otro derecho de propiedad mencionado. Las únicas copias autorizadas deberán ser en su propia computadora personal para uso personal y no comerciales.
            p
                strong “DERECHOS DE AUTOR – 2018 Sanofi-aventis de México S.A. de C.V. TODOS LOS DERECHOS RESERVADOS”.
            p Cualquier uso autorizado de los componentes que integren el sitio o se muestren en el mismo no debe distorsionarse, modificarse o alterarse de ninguna manera.
            p Sanofi o sus subsidiarias se reservan el derecho de ejercer acción legal contra cualquier violación de sus derechos de propiedad intelectual.
            h2 2. Naturaleza de la información
            p Sitio informativo en el cual podemos dar a conocer al cliente los productos y beneficios que ofrece ADerogyl®.
            p La información, sobre todo financiera, publicada en el Sitio no debe ser considerada como una invitación a invertir.  En ningún caso deberá ser interpretado como la prospección o como un ofrecimiento de público, tampoco esto es una oferta de suscribir, comprar o cambiar partes u otros valores en Sanofi y/o sus filiales afectadas. La Compañía hace énfasis al hecho de que la información incluida en el Sitio es actualizada con regularidad (si la información financiera es proporcionada on-line).
            p El Sitio puede ofrecer la opinión de expertos consultados en determinada rama relacionados con el contenido del Sitio, o extractos de artículos de periódico, tal información representa sólo las opiniones de los expertos respectivos o del periódico, cuyas opiniones son no necesariamente las de Grupo Sanofi. Tales expertos no son los empleados del Grupo Sanofi y no reciben ningún emolumento de SANOFI para el empleo de su opinión. la Compañía no es responsable de la exactitud o la entereza de ninguna información u opinión. Las opiniones de los expertos reflejan su visión personal y nunca debe interpretarse como la opinión o responsabilidad de la Compañía y/o SANOFI. 
            p El Sitio también incluye información sobre salud, condición física, el campo médico y tratamientos médicos reservados exclusivamente para uso de seres humanos. Dicha información se publica en el Sitio únicamente con propósitos informativos y no es sustituto de los consejos proporcionados por su médico o especialista. No deberá usar la información contenida en el presente documento para diagnosticar cualquier enfermedad o problema físico, ni para recetar o utilizar cualquier medicamento presentado en el Sitio. El Sitio no está destinado a ser utilizado para informar respecto a problemas de salud, eventos adversos o quejas técnicas de productos, o hacer preguntas técnicas o médicas relativas a los productos de sanofi. En todas las circunstancias deberá consultar su médico.
            h2 3. Enlaces a otros sitios
            p Ni SANOFI ni cualquier otra compañía del Grupo Sanofi se hacen responsables del contenido del sitio de algún tercero que pueda ser accesado por este Sitio. No tenemos manera de controlar el contenido de los sitios de terceros que son totalmente independientes de  la Compañía. Además, la existencia de un link entre el Sitio y el sitio del tercero, bajo ninguna circunstancia implica, de ninguna manera, que la Compañía aprueba el contenido de este sitio, y en particular el uso que se le pueda dar. 
            p Adicionalmente, el usuario es responsable de tomar las precauciones necesarias para prevenir cualquier contaminación del Sitio, en particular por un virus de computadora “virus”, “Troyanos” o cualquier otro “parásito”.
            p Los sitios externos pueden contener hyperlinks que llevan al Sitio. Ningún  hyperlink deberá instalarse sin el previo consentimiento por escrito de la Compañía.
            p En cualquier caso, la Compañía no es de ninguna manera responsable de la no disponibilidad de dichos sitios y la Compañía no revisa, aprueba, ni se hace responsable de cualquier contenido, publicidad, productos u otros componentes disponibles en o accesibles en estos sitios.
            h2 4. Información Personal y otra Información
            h3 4.1 La Compañía no revelará a terceros, los datos personales que llegaren a ser proporcionados por los usuarios por el uso del sitio, que sólo se utilizará con el fin de proporcionarle una respuesta lo más eficazmente posible.
            p De conformidad con lo establecido por la Ley Federal de Protección de Datos Personales en Posesión de Particulares, los usuarios de las aplicaciones tendrán derecho a ejercer los derechos de acceso, rectificación, cancelación y oposición (ARCO).
            p Para hacer valer estos derechos, favor de solicitarlo accesando a la siguiente página de internet www.sanofi.com.mx, en el apartado denominado Derechos ARCO.
            p Nuestro sitio web utiliza “Cookies” que son pequeños archivos de datos que se almacenan en el disco duro de su equipo de cómputo o del dispositivo de comunicación electrónica que usted utiliza cuando navega en Sitios Web. 
            h3 4.2 Las aplicaciones no están destinadas para recibir información confidencial de sus usuarios. Consecuentemente, excepto los datos personales señalados anteriormente, cualquier información, sin importar su forma-documento, datos, preguntas, gráficos, sugerencias, comentario o cualquier otro- que sea enviado a través de las aplicaciones, bajo ninguna circunstancia se considerará confidencial.
            p Por lo tanto, el hecho de enviar cualquier información a través de las aplicaciones, otorga a la Compañía el derecho de usarla, reproducirla, publicarla, alterarla o enviarla, con el fin de atender la solicitud correspondiente.
            h2 5. Limitaciones de responsabilidad
            p Sanofi hace su esfuerzo para asegurar la información publicada en el Sitio es exacta y actualizada. Sanofi se reserva el derecho de corregir el contenido en cualquier momento y sin aviso previo. Sin embargo, Sanofi no puede garantizar que la información disponible en el Sitio sea exacta, correcta, actualizada o completa. 
            p Consecuentemente, y exceptuando los daños causados por dolo o negligencia de Sanofi, ésta niega cualquier responsabilidad relacionada con:
            ul
                li Cualquier imprecisión, error relativa a la información proporcionada en el Sitio. 
                li Cualquier daño que resulte de intrusión fraudulenta por una tercera parte que conlleve a la modificación de la información o componentes proporcionados en el Sitio.
                li De manera más general, cualquier daño a la propiedad, directo o indirecto, sin importar su causa, origen, naturaleza o consecuencias, incluso cuando a la Compañía se le informó de la posibilidad de dicho daño, ya sea un resultado de (i) acceso o imposibilidad de accesar al Sitio, (ii) el uso del Sitio, incluyendo cualquier daño o virus que pueda infectar su computadora o cualquier otra propiedad y/o (iii) la credibilidad que se le dé a la información proveniente directa o indirectamente del Sitio. 
            p Los componentes en el Sitio y en todos los demás sitios asociados se proporcionan “como están” sin ningún tipo de garantía, ya sea explícita o implícita. La Compañía no ofrece ningún tipo de garantía explícita o implícita sin limitación a su valor de mercado e idoneidad para un propósito particular.
            h2 6. Disponibilidad del sitio web
            p Reconoce que (i) es técnicamente imposible que la Compañía proporcione el Sitio libre de errores y/o defectos, (ii) que los defectos pueden llevar a la indisponibilidad temporal del Sitio, y (iii) que la operación del Sitio puede verse afectada por eventos y/o circunstancias fuera del control de la Compañía, como por ejemplo, links de transmisión y telecomunicación entre la Compañía y usted y entre la Compañía y otros sistemas y redes.
            p La Compañía y/o sus distribuidores pueden, en cualquier momento, alterar o interrumpir, de manera temporal o permanente todo o parte del sitio con el fin de realizar trabajos de mantenimiento y/o realizar mejoras y/o cambios al Sitio. la Compañía no es responsable de cualquier alteración, suspensión o interrupción del Sitio.
            h2 7. Información sobre los productos
            p La información incluida y publicada en el Sitio puede tener referencias directas o indirectas a productos, programas y servicios del Grupo Sanofi que no se han anunciado o no se encuentran disponibles en algunos países o regiones, o que pueden ofrecerse bajo el registro de un nombre de marca diferente, y que pueden sujetarse a diferentes regulaciones y términos que pueden diferir de acuerdo con el país. Dichas referencias no implican que el Grupo Sanofi quiera vender estos productos, programas o servicios en su país. Consulte el subsidiario local del Grupo Sanofi o su representante comercial del Grupo Sanofi para cualquier información sobre los productos, programas y servicios que están disponibles para usted.
            h2 8. Marco legal
            p El sitio y su contenido se rigen por las Leyes de México y cualquier disputa relacionada será competencia de los Tribunales de la Ciudad de México.
            h2 9. Términos y condiciones:
            div 
                p
                    | 9.1 Editor del sitio
                    br
                    | Sanofi-aventis de México, S.A. de C.V.
                    br
                    | Av. Universidad 1738 Col. Coyoacán,
                    br
                    | Ciudad de México, México
            div 
                p
                    | 9.2 Director de la Publicación
                    br
                    | Alejandra Soto
                    br
                    | Dirección del Servidor: Reston Virginia USA
                
            div 
                p
                    | 9.3 Servidor del sitio:
                    br
                    | Nombre del Servidor: Datacenter
                    br
                    | Dirección del Servidor:
            h2 10. Mención de propiedad de fotos y video
            p Todas las fotografías y animaciones son propiedad de Sanofi-Aventis de México, S.A de C.V., adquiridas bajo suscripción en Fotolia