@require globalView

.ad-caption
    font-size 12px
    color white
    text-transform uppercase
    font-family $font-alternative
    +$responsive(desktop1280 desktop1600 desktop_extended)
        font-size 16px