mixin caption($isBr = false, $regSan = '38878 SSA VI', $isC = false, $addicionalClass= '')
    .ad-caption(class=$addicionalClass)
        span.ad-caption-aderogyl ADerogyl
        span
            sup &reg; 
            if $isC
                | #{$isC} 
            | Solución.
            if $isBr
                br
            | Registro Sanitario No.: #{$regSan}